# Introduction to python

Variable names in Python can contain alphanumerical characters a-z, A-Z, 0-9 and some special characters such as _. Normal variable names must start with a letter.

By convention, variable names start with a lower-case letter, and Class names start with a capital letter.

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

and, as, assert, break, class, continue, def, del, elif, else, except, 
exec, finally, for, from, global, if, import, in, is, lambda, not, or,
pass, print, raise, return, try, while, with, yield
Note: Be aware of the keyword lambda, which could easily be a natural variable name in a scientific program. But being a keyword, it cannot be used as a variable name.

In [1]:
myVariable = 4
myVariable

4

In [2]:
insert_to_box = 25

In [3]:
MyName = "Samir"

### Assignment/ Teyin etme

In [4]:
# variable assignments
x = 1.0
my_variable = 12.2

In [6]:
#verilenin yaradilmasi. reqemle bashlaya bilmez
myCase_2 = 2

In [7]:
#case sensitive-dir
s = 1.0
s

1.0

In [8]:
S = 5.0
S

5.0

In [10]:
#verilenin tipinin yoxlanilmasi
type(s)

float

### Fundamental types

In [11]:
# integers
x = 2
type(x)

int

### MarkdownType
* Yeni

In [15]:
# float
x = 1.0
type(x)

float

In [16]:
y = int(x)
y

1

In [17]:
type(x)

float

In [18]:
type(float(y))

float

In [19]:
# type conversion
"""
Bu menim kodumdur
burda yeni updateler
"""
a = 2
float(a)

2.0

In [20]:
type(a)

int

In [21]:
a / float(a)

1.0

In [22]:
type((a+1)/a)

float

In [23]:
type((a+2)/a)

float

In [24]:
# boolean/mentiqi verilen
b1 = True # 1
b2 = False # 0

type(b1)

bool

In [25]:
#usage of boolean
if b2 is not True:
    print(b2)

False

In [26]:
my_var = 1
my_var2 = bool(my_var)
my_var2

True

In [27]:
type(my_var2)

bool

In [28]:
my_v =-1.5
my_v2 = bool(my_v)
my_v2

True

In [29]:
type(my_v2)

bool

In [30]:
bool(0)

False

In [26]:
#str
s = 'str'
type(s)

str

In [27]:
s1 = float(s)

ValueError: could not convert string to float: 'str'

In [ ]:
s2 = '5'

In [ ]:
s3 = int(float(s2))
s3

In [ ]:
s4 = str(float(s2))
type(s4)

In [ ]:
s4

In [ ]:
dir(s)

In [ ]:
# modulun import olunmasi
import sklearn as sn
import pandas as pd

In [ ]:
# modul haqda melumat
help(sn)

In [ ]:
#verilenin tipi uzerinde hansi funksiyalar tetbiq oluna biler. 
#Bunu tapmaq ucun dir-den istifade etmek lazimdir
b1 = 23.4
dir(b1)

In [28]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 +3j
x.imag

3.0

In [29]:
print(x)

(1+3j)

In [30]:
print(x.real, x.imag)

1.0 3.0

### Type casting

In [31]:
y = 2
l = float(y)
l

2.0

In [32]:
y = "2.5"
l = float(y)
l

2.5

In [33]:
x = int(1)

print(x, type(x))

1 <class 'int'>

In [34]:
x = int(1.5)

print(x, type(x))

1 <class 'int'>

In [35]:
x = 0.6

print(x, type(x))

0.6 <class 'float'>

In [36]:
x = 1.6
import numpy as np
np.round(x)

2.0

In [37]:
y = int(x)
y

1

In [38]:
#0->False
z = bool(y)
z

True

In [39]:
#diger reqemler True
z = bool(-5)
z

True

In [40]:
f = 0
z = bool(f)
z

False

In [41]:
f = 1.5
z = bool(f)
z

True

In [42]:
z = complex(x)

print(z, type(z))

(1.6+0j) <class 'complex'>

In [43]:
#Complex-ler floata cevrilmir
x = float(z)

TypeError: float() argument must be a string or a real number, not 'complex'

Complex variables cannot be cast to floats or integers. We need to use z.real or z.imag to extract the part of the complex number we want:

In [44]:
y = bool(z.real)

print(z.real, " -> ", y, type(y))

y = bool(z.imag)

print(z.imag, " -> ", y, type(y))

1.6  ->  True <class 'bool'>
0.0  ->  False <class 'bool'>

### Types interns

#### Integers (Immutable)

Python **interns integers** in a specific range to optimize memory usage. The default implementation (CPython) interns integers in the range **`-5` to `256`**. This means that small integers within this range are stored once, and multiple variables that hold the same value will point to the same memory location.

In [45]:
x = 100
y = 100
print(x is y)  # True, because 100 is within the interned range

x1 = 1000
y1 = 1000
print(x1 is y1)  # False, because 1000 is outside the interned range

True
False

In [46]:
x=200
y

100

#### Floats (Immutable)
Python does not intern **floats** by default. Each time a float is created, it typically gets a new memory allocation, even if the values are the same.

In [47]:
f1 = 1.0
f2 = 1.0
print(f1 is f2)  # False, floats are not interned

False

#### Booleans (Immutable)

Booleans are a **subclass of integers**, and Python only provides two boolean values: **`True`** and **`False`**. Since these are constants, Python always interns them. As a result, `True` and `False` will always share the same memory location.

In [1]:
a = True
b = True
print(a is b)  # True, because booleans are interned

True

#### Complex numbers

Complex numbers (complex), are not interned like some of the simpler immutable types (e.g., integers, booleans, and strings). Each time you create a new complex number, even if the values are identical, Python allocates a new object in memory.

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators +, -, *, /, // (integer division), '**' power

In [49]:
1 + 2, 1 - 2, 1 * 2, 1 / 2, 1 // 2, 1 % 2

(3, -1, 2, 0.5, 0, 1)

In [50]:
l =2**3
l

8

In [51]:
import math
tekrar = math.pow(2,4)
print("l:", l)
print("tekrar:", tekrar)

# Assert that l is equal to tekrar
assert l == tekrar

l: 8
tekrar: 16.0

AssertionError:

In [52]:
# Assert that l is equal to tekrar
assert 8 == 8

In [53]:
7%3

1

In [54]:
1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0

(3.0, -1.0, 2.0, 0.5)

In [55]:
9 / 3

3.0

In [56]:
# Integer division of float numbers
3.0 // 2.0

1.0

In [57]:
# Note! The power operators in python isn't ^, but **
2 ** 2

4

In [58]:
#In Python, the operator ^ is the bitwise XOR (exclusive OR) operator
2 ^ 7

5

In [59]:
#logical AND
True and False

False

In [60]:
(1>0) and (1<0)

False

In [61]:
1 and 0

0

In [62]:
16 and 15

15

In [63]:
not False

True

In [64]:
not (1<0)

True

In [65]:
#logical OR
True or False

True

In [66]:
15 or 16

15

In [67]:
0 or 15

15

In [68]:
# To add comments to all row we can use such combination ctrl+/
# 1
# 3
# 4
# 5
# 5

In [69]:
2 > 1, 2 < 1

(True, False)

In [70]:
# and-in əvəzinə Bitwise & # or-un əvəzinə ise Bitwise |

In [71]:
(2>1) | (2<1) #Bitwise OR

True

In [72]:
(2>1) & (2<1) #Bitwise AND

False

In [73]:
2 > 2, 2 < 2

(False, False)

In [74]:
2 >= 2, 2 <= 2, 4<=5>=1<=3,4<=5>=9<=3

(True, True, True, False)

In [75]:
# equality
[1,2] == [1,3]

False

In [76]:
[1,2] != [1,3]

True

In [77]:
# objects identical?
l1 = 10
l2 = 11
#l1 == l2

print(l1 is l2) # l1==l2
print(l1 is not l2) #l1!=l2

l3 = 10
l4 = 10

print(l3 is l4)

l5 = 1000
l6 = 1000

print(l5 is l6)

False
True
True
False

In [78]:
l1 = l2
l1

11

In [79]:
l1 = 20
l1

20

In [80]:
l1 == l2

False

In [81]:
m =10
M

NameError: name 'M' is not defined

## Compound types: Strings, list, tuple, dictionaries and set

### Strings

In [82]:
str1 ="London is the capital of the UK"
type(str1)

str

In [83]:
l = 1 
str2 = str(l)
str2

'1'

In [84]:
#Multiline string
str4 = """
SELECT *
FROM table
WHERE 5=5
"""
print(str4)

str3 = "1"
print(str3)
str2==str3

SELECT *
FROM table
WHERE 5=5

1

True

In [85]:
# MC Donald's
str2 = "MC Donald's"
str2

"MC Donald's"

In [86]:
s = "'Halloween''"
s

"'Halloween''"

In [87]:
s[0]

"'"

In [88]:
s[-1]

"'"

In [89]:
#start stop step
b = s[0:4]
b

"'Hal"

In [90]:
#start stop step
s[-4:-1:1]

"en'"

In [91]:
s[-4:-1:2]

"e'"

In [92]:
s[-1::-1]

"''neewollaH'"

In [93]:
s[-1:0:-1]

"''neewollaH"

In [94]:
s[0::1]

"'Halloween''"

In [95]:
s = ""Halloween""
s

SyntaxError: invalid syntax (1209621036.py, line 1)

In [96]:
s = ''Halloween''
s

SyntaxError: invalid syntax (37858455.py, line 1)

In [97]:
s = '"Dede Qorqud"-dan bir bolum'
s

'"Dede Qorqud"-dan bir bolum'

In [98]:
s = "'Dede Qorqud'-dan bir bolum"
s

"'Dede Qorqud'-dan bir bolum"

In [99]:
# length of the string: the number of characters
len(s)

27

In [100]:
s = "hello world"
a = s.title()
a

'Hello World'

In [101]:
help(str.title)

Help on method_descriptor:

title(self, /)
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [102]:
s.upper()

'HELLO WORLD'

In [103]:
s

'hello world'

In [104]:
a = s.find("l")
a

2

In [105]:
#Return -1 if the string is not found
a = s.find("b")
a

-1

In [106]:
a = s.find("d")
a

10

In [107]:
a = s.find("D")
a

-1

In [108]:
a = s.upper().find("D")
a

10

In [109]:
s1 = "Men bu cahana sigmazam. Cahana"
b_index = s1.find("cahana")
b_index

7

In [110]:
c = "cahana"
s1 = "Men bu cahana sigmazam. Cahana"
b_index = s1.find(c)
b_index

7

In [111]:
s1[b_index:] #s1[7:]

'cahana sigmazam. Cahana'

In [112]:
s1 = "Men bu ahana sigmazam. Cahana"
b_index = s1.lower().find("cahana")
b_index

23

In [113]:
s

'hello world'

In [114]:
s[0]= "L" #immutable

TypeError: 'str' object does not support item assignment

In [115]:
# replace a substring in a string with somethign else
s2 = s.replace("world", "test")
print(s2)

hello test

In [116]:
s

'hello world'

In [117]:
s3 = s2.replace("hello", "salam")
s3

'salam test'

In [118]:
s4 = s.replace("world", "test").replace("hello", "salam")
s4

'salam test'

In [119]:
S = 'spam test'
S.capitalize()

'Spam test'

In [120]:
S[0:5]

'spam '

In [121]:
#string concatenation 
yeni_verilen = "salam " + "dunya"
yeni_verilen

'salam dunya'

In [122]:
yeni_verilen1 = "salam" + "dunya"
yeni_verilen1

'salamdunya'

In [123]:
yeni_verilen.capitalize()

'Salam dunya'

In [124]:
yeni_verilen[0].upper() + yeni_verilen[1:]

'Salam dunya'

In [125]:
S

'spam test'

In [126]:
S = S[0].upper()+ S[1:4]
S

'Spam'

In [127]:
S = "II"

In [128]:
help(str.isdigit)

Help on method_descriptor:

isdigit(self, /)
    Return True if the string is a digit string, False otherwise.

    A string is a digit string if all characters in the string are digits and there
    is at least one character in the string.

In [129]:
S.isdigit()

False

In [130]:
S = "125"
S.isdigit()

True

In [131]:
S = "125a"
S.isdigit()

False

In [132]:
S = "125 "
S.isdigit()

False

In [133]:
S = "01001000"
S.isdigit()

True

In [70]:
help(str.isdecimal)

Help on method_descriptor:

isdecimal(self, /)
    Return True if the string is a decimal string, False otherwise.

    A string is a decimal string if all characters in the string are decimal and
    there is at least one character in the string.

In [134]:
S = "125"
S.isdecimal()

True

In [135]:
S = "01001000 01100101 01101100 01101100 01101111" # "Hello" in binary
S.isdecimal()

False

In [137]:
help(str.isnumeric)

Help on method_descriptor:

isnumeric(self, /)
    Return True if the string is a numeric string, False otherwise.

    A string is numeric if all characters in the string are numeric and there is at
    least one character in the string.

In [136]:
S = "125.5"
S.isnumeric()

False

In [138]:
S = "01001000 01100101 01101100 01101100 01101111"
S.isnumeric()

False

In [139]:
S = "125"
S.isnumeric()

True

In [142]:
s1 = "12345"     # All characters are decimal digits
s2 = "½"         # Fraction character (1/2)
s3 = "१२३४५"   # Indian digit characters (1, 2, 3, 4, 5 in Devanagari script)

print(s1.isdigit())
print(s1.isdecimal()) 
print(s1.isnumeric())
print("\n")
print(s2.isdigit())
print(s2.isdecimal())
print(s2.isnumeric())
print("\n")
print(s3.isdigit())
print(s3.isdecimal())
print(s3.isnumeric())

True
True
True


False
False
True


True
True
True

In [143]:
S = 'Spam'

In [78]:
S.startswith("S")

True

In [144]:
S.startswith("s")

False

In [145]:
S.endswith("m")

True

In [146]:
l = S[0].upper()
S = l+S[1:]

print(l, S)

S Spam

In [147]:
str(1)+"Spam"

'1Spam'

In [83]:
s

'hello world'

In [148]:
v = s*4
v

'hello worldhello worldhello worldhello world'

In [149]:
v = "s"*4
v

'ssss'

In [152]:
w = "w"+"4"
w

'w4'

In [151]:
v = "s"*4 + "Y"
v

'ssssY'

In [87]:
S = "12s"

In [89]:
help(str.isalnum)

Help on method_descriptor:

isalnum(self, /)
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

In [153]:
S.isalnum()

True

In [155]:
S_ = '5'
S_.isalnum()

True

In [90]:
S1 = "12sS"
S1.isalnum()

True

In [158]:
help(str.isalpha)

Help on method_descriptor:

isalpha(self, /)
    Return True if the string is an alphabetic string, False otherwise.

    A string is alphabetic if all characters in the string are alphabetic and there
    is at least one character in the string.

In [157]:
S1 = "sS"
S1.isalpha()

True

In [91]:
print("abc \nbdf")

abc
bdf

In [159]:
line = '\naaa,bbb,ccccc,dd\naa'
print(line)

aaa,bbb,ccccc,dd
aa

In [160]:
#lstrip
line = line.lstrip()
print(line)

aaa,bbb,ccccc,dd
aa

In [96]:
#lstrip
line1 = ' aaa,bbb,ccccc,dd\naa'
line1 = line.lstrip()
print(line1)

aaa,bbb,ccccc,dd
aa

In [161]:
#rstrip
line = '\naaa,bbb,ccccc,dd\n'
line = line.rstrip()
print(line)

aaa,bbb,ccccc,dd

In [162]:
#lstrip
line = '\n aaa,bbb,ccccc,dd\naaa'
line = line.lstrip()
print(line)

aaa,bbb,ccccc,dd
aaa

In [163]:
line = '\naaa,bbb,ccccc,dd\n aaa\n '
print(line)

aaa,bbb,ccccc,dd
 aaa

In [102]:
#rstrip
line = '\naaa,bbb,ccccc,dd\n aaa\n '
line = line.strip()
print(line)

aaa,bbb,ccccc,dd
 aaa

#### String formatting examples

In [164]:
print("str1 ","str2","str3")  # The print statement concatenates strings with a space

str1  str2 str3

In [104]:
print("str1" + '1.0', False, -1j)  # The print statements converts all arguments to strings

str11.0 False (-0-1j)

In [105]:
print("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

In [165]:
print("str1 " + "str2" + " " + "str3")

str1 str2 str3

In [167]:
var1 = 1
str1 = 5
print("value = %d" % var1)   # we can use C-style string formatting
print("value = %s" % str1)   # we can use C-style string formatting

value = 12
value = 5

In [168]:
# this formatting creates a string
s2 = "value1 = %.3f value2 = %d" % (3.14150287456, 1.6)
print(s2)

value1 = 3.142 value2 = 1

In [169]:
# this formatting creates a string
s2 = "value1 = %.12f value2 = %d" % (3.14150287456, 1.6)

print(s2)

value1 = 3.141502874560 value2 = 1

In [172]:
# this formatting creates a string
s3 = "value1 = %.3f value2 = %d" % (3.14150287456, '1.6')

print(s3)

TypeError: %d format: a real number is required, not str

In [173]:
# this formatting creates a string
fl = float("1.6")
s3 = "value1 = %.3f value2 = %d" % (3.14150287456, fl)

print(s3)

value1 = 3.142 value2 = 1

In [175]:
# alternative, more intuitive way of formatting a string 

print("this is second = {1}, first = {0}".format(5,6))

this is second = 6, first = 5

In [176]:
#The f'' (or f"") is known as an f-string, which stands for "formatted string literals"

a = 'dunya'
print(f'Salam {a}')

Salam dunya

In [178]:
name = "Yelmar"
age = 19

# Using f-string to create a formatted string
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is Yelmar and I am 19 years old.

In [180]:
import re #
#you need to reada about regular expression (regex)
netice = re.match('Hello[\t]*(.*)world', 'Hello new Python 5 crazy world SA')
netice

#### Breakdown of the Regex Pattern `'Hello[\t]*(.*)world'`

- **`Hello`**: The string must start with "Hello".
- **`[\t]*`**: This matches any number of tab characters (including zero).
- **`(.*)`**: This captures any characters (zero or more) between "Hello" and "world" and stores them in a capturing group. The `.*` part means "match any character (.) zero or more times (*)".
- **`world`**: The string must contain the word "world" following the captured characters.

In [181]:
netice.groups()

(' new Python 5 crazy ',)

In [117]:
netice.group()

'Hello new Python 5 crazy world'

In [182]:
netice = re.match('/(.*)/(.*)', '/usr/Samir')
l = netice.groups()
l

('usr', 'Samir')

In [119]:
netice.group(2)

'Samir'

In [183]:
input_string = 'Sa/usr/Samir/DA'
pattern = r'/(.*)/(.*)/(.*)'  # Regular expression pattern

# Search for the pattern in the input string
match = re.search(pattern, input_string)

# Check if a match is found
if match:
    groups = match.groups()
    print('Pattern found in the input string.')
    print('First group:', groups[0])
    print('Second group:', groups[1])
    print('Third group:', groups[2])
else:
    print('Pattern not found in the input string.')

Pattern found in the input string.
First group: usr
Second group: Samir
Third group: DA

#### Strings (Immutable)

Python applies **string interning** for certain types of strings, such as:

- Strings that look like identifiers (e.g., variable names).
- Short strings (implementation-dependent, often fewer than 20 characters).
- Literal strings that are used multiple times in the code.

In [2]:
a = "hello"
b = "hello"
print(a is b)  # True, because both are interned and share the same memory

True

In [184]:
a = "hello world" * 1000  # a long string created dynamically
b = "hello world" * 1000  # same long string created dynamically

print(a is b)  # False, because they are not interned and are distinct objects in memory

False

In [3]:
assert None==0

AssertionError: