In [3]:
import numpy as np
print(np.nan != np.nan)
print(np.nan == np.nan)
print(None != None)
print(None == None)

True
False
False
True

In [4]:
import pandas as pd

In [5]:
# Getting variables of series in array format
series = pd.Series([1, 2, 3])
print(series.values)

[1 2 3]

In [6]:
# To transport from array to list
l = []
l = series.values.tolist()
print(l)

[1, 2, 3]

In [7]:
# Labeling the index pd.Series(data = [series], index = [labels])
series = pd.Series(['a', 'b', 'c'], index = [1, 2, 3])
print(series)
# Or
series.index = [11, 22, 33]
print(series)

1    a
2    b
3    c
dtype: object
11    a
22    b
33    c
dtype: object

In [8]:
# Applying numpy functions to series
import numpy as np
series = pd.Series([1, 2, 3], index = ['a', 'b', 'c'])
summ = np.sum(series)
print(summ)
print(np.log(series))

6
a    0.000000
b    0.693147
c    1.098612
dtype: float64

In [9]:
# Series also can be formed by dictionary
data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(data)
print(series)
# Or like
a = [1, 2, 3]
b = ['a', 'b', 'c']
series = pd.Series(dict(zip(a, b)))
print(series)

a    1
b    2
c    3
dtype: int64
1    a
2    b
3    c
dtype: object

In [10]:
# Replacing
# inplace=True → edit the original
# inplace=False → create a new one, leave original safe
df = pd.DataFrame()
df['First'] = [1, 2, np.nan, 4, np.nan]
df.replace({np.nan: 3}, inplace = True)
print(df)

   First
0    1.0
1    2.0
2    3.0
3    4.0
4    3.0

In [11]:
# Value count gives number of duplicating values
df = pd.DataFrame()
df['Orig'] = [1, 2, 2, 3, 4]
print(df.value_counts())

Orig
2       2
1       1
3       1
4       1
Name: count, dtype: int64

In [12]:
# If data is big, .head(n) outputs first n rows, .tail(n) outputs last n rows(5 by default)
df = pd.DataFrame()
df['Orig'] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(df.head())
print('-----------')
print(df.tail())

   Orig
0     1
1     2
2     3
3     4
4     5
-----------
   Orig
5     6
6     7
7     8
8     9
9    10

In [13]:
# Away to select ceratin types of values .select_dtypes(include = ['...'])
df = pd.DataFrame({
    'A': [1, 2, 3],           # int
    'B': [1.1, 2.2, 3.3],     # float
    'C': ['x', 'y', 'z']      # object (string)
})

numeric_df = df.select_dtypes(include = 'int')
print(numeric_df)

   A
0  1
1  2
2  3

In [14]:
# Common way to detect any missing datas(nan's) in dataframe
print(df.isna().sum())

A    0
B    0
C    0
dtype: int64

In [15]:
# Applying lambda function to series

s = pd.Series([1, 2, 3, 4])
print(s.apply(lambda x: x*2))

0    2
1    4
2    6
3    8
dtype: int64

In [16]:
# Columns of the dataframe
df = pd.DataFrame({'first': [1, 2, 3], 'second': [4, 5, 6]})
print(df.columns)

Index(['first', 'second'], dtype='object')

In [17]:
# Renaming columm
df.rename(columns = {'first': 'second', 'second': 'third'}, inplace = True)
print(df)

   second  third
0       1      4
1       2      5
2       3      6

In [18]:
# iloc → integer-location based
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60]
})
# Select first row
print(df.iloc[0])

A    10
B    40
Name: 0, dtype: int64

In [19]:
# loc → label-based
df.index = ['x', 'y', 'z']
print(df.loc['x'])

A    10
B    40
Name: x, dtype: int64

In [20]:
# Finding position of the column
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60],
    'C': [70, 80, 90]
})

# Find position of column 'B'
pos = df.columns.get_loc('B')
print(pos)

1

In [21]:
# Dropping a row
df = pd.DataFrame({
    'A': [10, 20, 30],
    'B': [40, 50, 60]
}, index=['x','y','z'])

new_df = df.drop('y', axis = 0)
print(new_df)

# Dropping column
new_df = df.drop('A', axis = 1)
print(new_df)

    A   B
x  10  40
z  30  60
    B
x  40
y  50
z  60

In [22]:
# del is only for deleting columns
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})

del df['B']
print(df)

   A  C
0  1  7
1  2  8
2  3  9

In [23]:
# Setting new index
df = pd.DataFrame({
    'ID': [101, 102, 103],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 95]
})

new_df = df.set_index('ID')
print(new_df)

        Name  Score
ID
101    Alice     85
102      Bob     90
103  Charlie     95

In [24]:
# And resetting
df.reset_index()

   index   ID     Name  Score
0      0  101    Alice     85
1      1  102      Bob     90
2      2  103  Charlie     95