### 1. (*) Lambda funksiyasından istifadə edərək tam ədədlər əsasında verilmiş tuple-ları sıralamaq üçün Python proqramı yaradın. 
#### Nümunə: a = [('Mamed', 27483),('Ali', 34357), ('Togrul', 24936),('Pasha', 25534)]
#### Nəticə: [('Togrul', 24936), ('Pasha', 25534), ('Mamed', 27483), ('Ali', 34357)]

In [88]:
a = [('Mamed', 27483),('Ali', 34357), ('Togrul', 24936),('Pasha', 25534)]
b = sorted(a, key=lambda x: x[1])
print(b)

[('Togrul', 24936), ('Pasha', 25534), ('Mamed', 27483), ('Ali', 34357)]

### 2. (*) Verilmiş bir list-dəki tək ədədləri kvadrat şəklində, cüt ədədləri isə yarıya bölərək yeni bir list yaradın. 

#### Nümunə: b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#### Nəticə: [1, 1, 9, 2, 25, 3, 49, 4, 81, 5]

In [6]:
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = []
for i in b:
    if i % 2 == 1:
        a.append(i * i)
    elif i % 2 == 0:
        a.append(int(i / 2))
print(a)

[1, 1, 9, 2, 25, 3, 49, 4, 81, 5]

### 3. (*) Verilmiş tam ədədlər list-ini tuple-a çevirmək üçün Python proqramı yazın. Map və lambda funksiyalarından istifadə edin 
#### Nümunə: c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Nəticə: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [9]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a = tuple(map(lambda i: str(i), c))
a

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

### 4. (*) 1-dən 25-ə qədər olan list-də product-ı hesablamaq üçün reduce funksiyasından istifadə edərək Python proqramı yazın. 

#### Nümunə: list(range(1,5))
#### Product: 1x2x3x4 = 24

#### Nəticə: 24

In [16]:
from functools import reduce

l = list(range(1, 25))
total = reduce(lambda x, y: x * y, l)
print(total)

620448401733239439360000

### 5. (*) Normal funksiya yaradın və filter funksiyasından istifadə edərək verilmiş list-də 2 və 3-ə tam bölünən ədədləri çıxarmaq üçün Python proqramı yazın.

#### Nümunə: d = [1, 4, 10 ,3, 6, 9, 27, 60, 90, 24, 58, 76]
#### Nəticə:[1, 4, 10, 3, 9, 27, 58, 76]

In [23]:
d = [1, 4, 10 ,3, 6, 9, 27, 60, 90, 24, 58, 76]
def filt(i):
    if i % 2 == 0 or i % 3 == 0:
        return True
    else:
        return False
a = list(filter(filt, d))
for i in a:
    if i % 2 == 0 and i % 3 == 0:
        a.remove(i)
print(a)

[4, 10, 3, 9, 27, 90, 58, 76]

### 6. (*) Class yaradın ve OOP-yə uygun olaraq class-da multiple inheritance istifadə edin, sonda isə class-lardan hansının əsas, hansının köməkçi olmasını müəyyənləşdirərək çap edin.

#### Parent class: Okeanlar - Atlantik Okeanı qaytarsın

#### II dərəcəli class: Denizler - Xəzər Dənizi qaytarsın

#### III dereceli class: Chaylar - Kür Çayı qaytarsın

In [27]:
class Okeanlar:
    def ocean(self):
        print('Parent class: Okeanlar - Atlantic Okean')
class Denizler:
    def denizler(self):
        print('2nd order class: Denizler - Xezer Denizi')
class Chaylar(Okeanlar, Denizler):
    def chay(self):
        print('3rd order class: Kur Cayi')

a = Chaylar()
a.ocean()
a.denizler()
a.chay()

Parent class: Okeanlar - Atlantic Okean
2nd order class: Denizler - Xezer Denizi
3rd order class: Kur Cayi

### 7. (*) Txt faylı yaradan Python funksiyası yazın, "Hello World!" mesajını fayla əlavə etsin, sonra həmin funksiya txt faylını pickle faylına çevirsin.

In [70]:
with open('hello.txt', 'w') as file:
    file.write('Hello World')

with open('hello.txt', 'r') as file:
    content = file.read()


import pickle

with open('hello.pickle', 'wb') as file:
    pickle.dump(content, file)

with open('hello.pickle', 'rb') as f:
    print(f.readlines())

[b'\x80\x04\x95\x0f\x00\x00\x00\x00\x00\x00\x00\x8c\x0bHello World\x94.']

### 8. (**) Lambda və filter funksiyasından istifadə edərək verilən list-də palindromları tapmaq üçün Python proqramı yazın. 

#### Nümunə: e = ['python', 'ana', 'ata', 'radar', 'level']

#### Nəticə: ['ana', 'ata', 'radar', 'level']

In [48]:
e = ['python', 'ana', 'ata', 'radar', 'level']

def pal(x):
    a = list(x)
    if a == a[::-1]:
        return True
    else:
        return False

z = list(filter(pal, e))
print(z)

['ana', 'ata', 'radar', 'level']

### 9. (**) Verilən mesajı şifrələmək üçün Python proqramı yazın. Şifrələmənin məntiqi elə olmalıdır ki, böyük, kiçik hərf fərq etmədən b üçün output d, c üçün e, e üçün müvafiq olaraq g olmalıdır. Həmçinin, boşluq $ (dollar işarəsi) ilə əvəz edilməlidir. Durğu işarələri dəyişilmədən saxlanılmalıdır.

#### Nümunə: shifre("Baba Cavanshiri eve chaghirmishdi.")

In [3]:
# Nəticə: "dada$gavanshiri$gvg$ghaghirmishdi."

In [55]:
def encript(x):
    a = list(x)
    z = ''
    for i in a:
        if i == 'b' or i == 'B':
            i = 'd'
        elif i == 'c' or i == 'C':
            i = 'e'
        elif i == ' ':
            i = '$'
        z += i        
    print(str(z))

encript("Baba Cavanshiri eve chaghirmishdi.")

dada$eavanshiri$eve$ehaghirmishdi.

### 10. (**) Bir funksiya yazın ki, ilk arqumenti (rəqəmi) məcburi qəbul etsin və *args vasitəsilə əlavə rəqəmləri də qəbul etsin.

### Funksiya ilk rəqəmdən başqa bütün rəqəmlərin hasilini qaytarmalıdır.
### Əgər ilk rəqəmdən başqa əlavə rəqəmlər verilməyibsə, "Əlavə rəqəmlər yoxdur" mesajını qaytarsın.

#### Nümunə:

#### print(x_func(2, 3, 4, 5))   ---------->   Nəticə: 60
#### print(x_func(7))   ---------->               Nəticə: "Əlavə rəqəmlər yoxdur"

In [68]:
def multipl(*args):
    count = 1
    if len(args) == 1:
        print('No additional numbers')
    else:
        a = list(args)
        a.pop(0)
        for i in a:
            count *= i
        print(count)
multipl(2, 3, 4, 5)
multipl(7)

60
No additional numbers

### 11. (**) Bir funksiya yazın ki, tələbələrin qiymətlərini qəbul etsin və onları müxtəlif kateqoriyalara ayırsın. Funksiya aşağıdakı şərtlərə əsasən nəticəni qaytarmalıdır:

### 90 və 90-dan yuxarı qiymətlər "Əla" listinə;
### 70-89 qiymətləri "Yaxşı" listinə;
### 50-69 qiymətləri "Kafi" listinə;
### 50-dən aşağı olan qiymətlər "Qeyri-kafi" listinə əlavə olunmalıdır.

### Funksiya əla-dan qeyri-kafiyə doğru sırayla dörd list qaytarmalıdır: (["Əla"], ["Yaxşı"], ["Kafi"], ["Qeyri-kafi"]) 

#### Nümunə:

#### print(x_func([95, 82, 67, 45, 78, 91, 50, 63, 89]))

#### Nəticə: ([95, 91], [82, 78, 89], [67, 63, 50], [45])

In [77]:
def res(x):
    category_1 = []
    category_2 = []
    category_3 = []
    category_4 = []
    for i in x:
        if  90 <= i:
            category_1.append(i)
        elif 70 <= i < 90:
            category_2.append(i)
        elif 50 <= i < 69:
            category_3.append(i)
        elif i < 50:
            category_4.append(i)
    print(f'({category_1}, {category_2}, {category_3}, {category_4})')
res([95, 82, 67, 45, 78, 91, 50, 63, 89])

([95, 91], [82, 78, 89], [67, 50, 63], [45])

### 12. BONUS SUAL (***): Bir kursda tələbələrin adları və onların fənlər üzrə balları aşağıdakı formada təqdim olunur:

### students_scores = {
###     "Aydan": {"Python": 97, "SQL": 86, "Statistics": 87},
###     "Arzu": {"Python": 92, "SQL": 83, "Statistics": 95},
###    "Bilal": {"Python": 90, "SQL": 91, "Statistics": 75},
### }

### 1) Hər tələbənin ümumi balını hesablayın və nəticəni yeni bir dictionary-də saxlayın. Format belə olmalıdır:

#### Nəticə: {"Aydan": 272, "Arzu": 270, "Bilal": 256}

### 2) Fənlər üzrə ən yüksək balı müəyyən edin. Format belə olmalıdır:

#### Nəticə: {"Python": 97, "SQL": 91, "Statistics": 95}

In [107]:
students_scores = {
"Aydan": {"Python": 97, "SQL": 86, "Statistics": 87},
"Arzu": {"Python": 92, "SQL": 83, "Statistics": 95},
"Bilal": {"Python": 90, "SQL": 91, "Statistics": 75},
}
a = list(students_scores.keys())
b = list(students_scores.values())
c = []
for i in b:
    c.append(list(i.values()))

d = []

for i in c:
    count = 0
    for x in i:
        count += x
    d.append(count)

scores = {key: value for key, value in zip(a, d)}
print(scores)

{'Aydan': 270, 'Arzu': 270, 'Bilal': 256}

In [119]:
python = []
sql = []
stat = []
for i in c:
    for x in i:
        if i.index(x) == 0:
            python.append(x)
        elif i.index(x) == 1:
            sql.append(x)
        elif i.index(x) == 2:
            stat.append(x)
python_max = max(python)
sql_max = max(sql)
stat_max = max(stat)
keys = ['Python', 'SQL', 'Stat']
values = [python_max, sql_max, stat_max]
res = {key: value for key, value in zip(keys, values)}
print(res)

{'Python': 97, 'SQL': 91, 'Stat': 95}