## Control Flow

### Conditional statements: if, elif, else

```python
if condition:
# Code block to execute if condition is True

elif condition2:
# Code block to execute if condition2 is True (optional)

else:
# Code block to execute if none of the above conditions are True (optional)
```

The `if` statement begins with the `if` keyword, followed by a condition that evaluates to either `True` or `False`.

If the condition evaluates to `True`, the code block immediately following the `if` statement is executed.

Optionally, you can include one or more `elif` (else if) statements to check additional conditions. If an `elif` condition evaluates to `True`, the corresponding code block is executed, and the subsequent `elif` and `else` blocks are skipped.

You can include an optional `else` statement, which provides a default code block to execute if none of the preceding conditions are `True`.

Indentation is crucial in Python. All code blocks following `if`, `elif`, and `else` statements must be indented.

The Python syntax for conditional execution of code uses the keywords `if`, `elif` (else if), `else`:

In [3]:
if 1>0:
    print("1 0-dan boyukdur")

1 0-dan boyukdur

In [4]:
a = "BC"
if a =='BC':
    print("a BC-e beraberdir")

a BC-e beraberdir

In [5]:
a = "BD"
if a =='BC':
    print("a BC-e beraberdir")
elif a =="BD":
    print("a BD-e beraberdir")

a BD-e beraberdir

In [6]:
a = "FD"
if a =='BC':
    print("a BC-e beraberdir")
elif a =="BD": # else if
    print("a BD-e beraberdir")
else:
    print("Bunlarin hec biri calishmadi")

Bunlarin hec biri calishmadi

In [7]:
statement1 = False

if statement1:
    print("statement1 is True")
elif False:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 and statement2 are False

In [8]:
statement1 = 1

if statement1:
    print("statement1 is True")
elif 0:
    print("statement2 is True")
else:
    print("statement1 and statement2 are False")

statement1 is True

### For the first time, here we encounted a peculiar and unusual aspect of the Python programming language: Program blocks are defined by their indentation level.

Compare to the equivalent C code:

    if (statement1)
    {
        printf("statement1 is True\n");
    }
    else if (statement2)
    {
        printf("statement2 is True\n");
    }
    else
    {
        printf("statement1 and statement2 are False\n");
    }
In C blocks are defined by the enclosing curly brakets { and }. And the level of indentation (white space before the code statements) does not matter (completely optional).

But in Python, the extent of a code block is defined by the indentation level (usually a tab or say four white spaces). This means that we have to be careful to indent our code correctly, or else we will get syntax errors.

In [9]:
statement1 = True
statement2 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [10]:
statement1 = True
statement2 = False
statement3 = True

if statement1:
    if statement2:
        print("both statement1 and statement2 are True")
    elif statement3:
        print("elif is right")

elif is right

In [14]:
statement2 = True
if statement1:
    if statement2:
        pass
    print("both statement1 and statement2 are True")

both statement1 and statement2 are True

In [15]:
statement1 = True 

if statement1:
    print("printed if statement1 is True")
    print("still inside the if block")

printed if statement1 is True
still inside the if block

In [17]:
flag = False
if flag==True:
    print("You good to go")
else:
    print("You got the false flag")

You got the false flag

In [18]:
if statement1:
    print("printed if statement1 is True")
print("now outside the if block")

printed if statement1 is True
now outside the if block

In [19]:
D = {"a":6,
    "b":5,
    "c":4}

In [20]:
D['f']

KeyError: 'f'

In [21]:
'f' in D

False

In [22]:
if not 'f' in D:
    print('missing')

missing

In [23]:
#Conditional expressions
#we can't use elif in this expression and else must be essential
value = D['a'] if 'a' in D else "not such key"
value

6

In [24]:
value = D['f'] if 'f' in D else "not such key"
value

'not such key'

In [25]:
l = []
value = D['f'] if 'f' in D else l.append("Not found")
print(value)
print(l)

None
['Not found']

In [26]:
Matrix= {}
Matrix[(2,3,4)]=88
Matrix[(5,6,7)] = 99
Matrix

{(2, 3, 4): 88, (5, 6, 7): 99}

In [28]:
if (2,3,6) in Matrix:
    print(Matrix[(2,3,6)])
else:
    print(0)

0

In [29]:
if 99 in Matrix.values():
    print(99)
else:
    print(0)

99

In [30]:
x = 5
y = 6
z = 4
if (x>y) and (y<z):
    print("Right");
elif (x>y) and (y>z):
    print("Not exactly");
elif (x<y) and (y>z):
    print("In this time it will work");
else:
    print("None of 'em works");

In this time it will work

In [31]:
y>z

True

In [32]:
x<y

True

In [34]:
A,B,C,D,E = 1,2,3,False,'5'

In [35]:
if (A == 1 and B == 2 and C == 3) or (D) and E:
    print('spam' * 3)

spamspamspam

In [36]:
D,E = False, False
if A == 1 or D and B == 2 and C == 3 and E:
    print('spam' * 3)

spamspamspam

In [37]:
if (A == 1 or D) and B == 2 and C == 3 and E:
    print('spam' * 3)
else:
    print("HEIL Gitler")

HEIL Gitler

In [38]:
x = 10
y = 20
z = 30

# Nested if-elif-else statement
if x > y:
    print("x is greater than y")
elif x < y:
    if y > z:
        print("y is greater than z")
    elif y < z:
        print("y is less than z")
    else:
        print("y is equal to z")
    print("x is less than y")
else:
    print("x is equal to y")

# Conditional expressions
result = "x is greater than y" if x > y else "x is less than or equal to y"
print(result)

y is less than z
x is less than y
x is less than or equal to y

In [39]:
x = 10
y = 20
z = 30
a = 15
b = 25

# Nested if-elif-else statement
if x > y:
    print("x is greater than y")
elif x < y:
    print("x is less than y")
    if y > z:
        print("y is greater than z")
    elif y < z:
        print("y is less than z")
        if a > b:
            print("a is greater than b")
        elif a < b:
            print("a is less than b")
        else:
            print("a is equal to b")
    else:
        print("y is equal to z")
else:
    print("x is equal to y")

# Conditional expressions
result = "x is greater than y" if x > y else ("x is less than y" if x < y else "x is equal to y")
print(result)

x is less than y
y is less than z
a is less than b
x is less than y

In [40]:
#after python 3.10
day = 6
match day:
        case 1:
            print("Monday")
        case 2:
            print("Tuesday")
        case 3:
            print("Wednesday")
        case 4:
            print("Thursday")
        case 5:
            print("Friday")
        case 6:
            print("Saturday")
        case 7:
            print("Sunday")
        case _:
            print("Invalid day")

Saturday

In [42]:
day = 1
month = "January"

# Nested match statement
match month:
    case "January" | "March" | "May" | "July" | "August" | "October" | "December":
        match day:
            case 1:
                print("Monday")
            case 2:
                print("Tuesday")
            case 3:
                print("Wednesday")
            case 4:
                print("Thursday")
            case 5:
                print("Friday")
            case 6:
                print("Saturday")
            case 7:
                print("Sunday")
            case _:
                print("Invalid day for the given month")
    case "April" | "June" | "September" | "November":
        match day:
            case 1:
                print("Monday")
            case 2:
                print("Tuesday")
            case 3:
                print("Wednesday")
            case 4:
                print("Thursday")
            case 5:
                print("Friday")
            case 6:
                print("Saturday")
            case 7:
                print("Sunday")
            case _:
                print("Invalid day for the given month")
    case "February":
        match day:
            case 1 | 8 | 15 | 22 | 29:
                print("Monday")
            case 2 | 9 | 16 | 23:
                print("Tuesday")
            case 3 | 10 | 17 | 24:
                print("Wednesday")
            case 4 | 11 | 18 | 25:
                print("Thursday")
            case 5 | 12 | 19 | 26:
                print("Friday")
            case 6 | 13 | 20 | 27:
                print("Saturday")
            case 7 | 14 | 21 | 28:
                print("Sunday")
            case _:
                print("Invalid day for the given month")
    case _:
        print("Invalid month")

Monday

## Loops

Loops are a fundamental programming concept used to execute a block of code repeatedly based on a condition. Python supports several types of loops, including `for` loops, `while` loops, and `nested` loops. The most common is the `for` loop, which is used together with iterable objects, such as lists.

### **`for` loops**:

The basic syntax is:

```python
for item in iterable:
    # Code block to execute
```

##### The `for` loop iterates over the elements of the supplied list, and executes the containing block once for each element. Any kind of list can be used in the `for` loop. For example:

In [43]:
%time
l = list(range(0,10,2))
l

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 3.34 µs

[0, 2, 4, 6, 8]

In [44]:
for el in l:
    print(el)

0
2
4
6
8

In [45]:
for x in [1,2,3,4,5]:
    print(x, end = ' ')

1 2 3 4 5

In [46]:
for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

In [47]:
python_list = ["scientific", "computing", "with", "python"]
for word in python_list:
    print(word)
    for l in word:
        print(l)

scientific
s
c
i
e
n
t
i
f
i
c
computing
c
o
m
p
u
t
i
n
g
with
w
i
t
h
python
p
y
t
h
o
n

In [48]:
l1 = []
for i in range(0,10,2):
    l1.append(i)

In [49]:
l1

[0, 2, 4, 6, 8]

In [50]:
len(l1)

5

In [51]:
for index in range(len(l1)):
    print(l1[index])

0
2
4
6
8

In [52]:
for x in range(-3,3):
    print(x)

-3
-2
-1
0
1
2

In [53]:
l2 = []
for i in [-1,-2,0,1,2]:
    l2.append(abs(i))
l2

[1, 2, 0, 1, 2]

In Python, continue, pass, and break are control flow statements used within loops (such as for and while loops) to alter the flow of execution

In [55]:
l2 = list(range(0,20))
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [61]:
cut = []
tek = []
for i in range(len(l2)):
    if l2[i]%2==0 and l2[i]!=0:
        cut.append(l2[i])
    elif l2[i]%2!=0:
        tek.append(l2[i])
    else:
        continue #pass, break

In [62]:
cut

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
l2 = list(range(2,20))
print(l2)
cut= []
tek = []
for i in range(len(l2)):
    if l2[i]%2==0 and l2[i]!=0:
        cut.append(l2[i])
    elif l2[i]%2!=0:
        break
        tek.append(l2[i])
    else:
        break #pass, break

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [65]:
cut

[2]

In [66]:
tek

[]

Difference between `continue` and `break`

In [67]:
for i in range(5):
    if i % 2 == 0:
        continue  # Skip the rest of the loop when i == 2
    print(i)

1
3

In [68]:
for i in range(5):
    if i % 2 == 0:
        pass  # Does nothing, just a placeholder
    print(i)

0
1
2
3
4

##### To iterate over key-value pairs of a dictionary:

In [69]:
my_dictionary = {"Name":["Huseyn", "Aslan", "Tofiq", "Nahid"],
                 "Age":[24, 24, 22, 22]}
for i in my_dictionary.keys():
    print(i)

Name
Age

In [70]:
for value in my_dictionary.values():
    print(value)

['Huseyn', 'Aslan', 'Tofiq', 'Nahid']
[24, 24, 22, 22]

In [71]:
for items in my_dictionary.items():
    print(items)

('Name', ['Huseyn', 'Aslan', 'Tofiq', 'Nahid'])
('Age', [24, 24, 22, 22])

In [72]:
for k,v in my_dictionary.items():
    print(k," ",v)

Name   ['Huseyn', 'Aslan', 'Tofiq', 'Nahid']
Age   [24, 24, 22, 22]

In [73]:
my_dictionary.items()

dict_items([('Name', ['Huseyn', 'Aslan', 'Tofiq', 'Nahid']), ('Age', [24, 24, 22, 22])])

In [74]:
# In Python, enumerate() is a built-in function that is used to iterate over a sequence 
# (such as a list, tuple, or string) along with its index. 
# It returns an iterator of tuples, where each tuple contains the index of the item and the item itself.

for idx, value in enumerate(my_dictionary['Name']):
    print(str(idx)+" : "+str(value))

0 : Huseyn
1 : Aslan
2 : Tofiq
3 : Nahid

In [76]:
for idx, value in enumerate(my_dictionary['Name']):
    print(idx,":",value)

0 : Huseyn
1 : Aslan
2 : Tofiq
3 : Nahid

In [77]:
tek_luget= {}
cut_luget = {}
for i in range(10):
    if i%2!=0:
        a="a"
        a+="_" + str(i) #a =a + "_" + str(i)
        tek_luget[a]= i
    else:
        a = "a"
        #a+="_cut"
        a+="_cut" + "_"+ str(i)
        cut_luget[a] = i

In [78]:
tek_luget

{'a_1': 1, 'a_3': 3, 'a_5': 5, 'a_7': 7, 'a_9': 9}

In [79]:
cut_luget

{'a_cut_0': 0, 'a_cut_2': 2, 'a_cut_4': 4, 'a_cut_6': 6, 'a_cut_8': 8}

In [80]:
for acar, deyer in cut_luget.items():
    print(acar + " : " + str(deyer))

a_cut_0 : 0
a_cut_2 : 2
a_cut_4 : 4
a_cut_6 : 6
a_cut_8 : 8

In [81]:
for acar in tek_luget.keys():
    print(acar)

a_1
a_3
a_5
a_7
a_9

In [82]:
import random
a = random.sample(range(10,35), 7)
a

[13, 16, 26, 12, 27, 31, 30]

In [86]:
menim_lugetim = {
    "yash": random.sample(range(10,35), 7),
    "ad":["Tebriz", "Aslan", "Sara", "Lala", "Nazrin", "Tofig", "Tebriz"]
}
menim_lugetim

{'yash': [15, 19, 11, 12, 25, 30, 34],
 'ad': ['Tebriz', 'Aslan', 'Sara', 'Lala', 'Nazrin', 'Tofig', 'Tebriz']}

In [88]:
luget2 = {"ad":[]}
for i in menim_lugetim["ad"]:
    if i.startswith("S"):
        a = i.replace(i, "Sevil")
        luget2["ad"].append(a)
    elif i.startswith("T"):
        b = i.replace(i, "Togrul")
        luget2["ad"].append(b)
print(luget2)

{'ad': ['Togrul', 'Sevil', 'Togrul', 'Togrul']}

In [89]:
menim_lugetim["ad"].extend(luget2["ad"])
menim_lugetim

{'yash': [15, 19, 11, 12, 25, 30, 34],
 'ad': ['Tebriz',
  'Aslan',
  'Sara',
  'Lala',
  'Nazrin',
  'Tofig',
  'Tebriz',
  'Togrul',
  'Sevil',
  'Togrul',
  'Togrul']}

In [90]:
yash_set = set()
ad_set = set()
a = list(menim_lugetim.values())
adlar =a[1]
yashlar = a[0]
for ad in adlar:
    for yash in yashlar:
        ad_set.add(ad)
        yash_set.add(yash)

In [91]:
ad_set

{'Aslan', 'Lala', 'Nazrin', 'Sara', 'Sevil', 'Tebriz', 'Tofig', 'Togrul'}

In [92]:
yash_set

{11, 12, 15, 19, 25, 30, 34}

In [93]:
my_dict = {}
t = ('a', 'b','c', 'd')
l = [1,2,3,4]
for i in range(len(t)):
    my_dict[t[i]] = l[i]
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [94]:
dict(zip(t,l))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [95]:
D = {key:value for (key, value) in zip(t,l)}
D

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [96]:
D1 = {x: x ** 2 for x in [1, 2, 3, 4]}

In [97]:
D1

{1: 1, 2: 4, 3: 9, 4: 16}

In [98]:
for key in sorted(D):
    print(key, '=>', D[key])

a => 1
b => 2
c => 3
d => 4

In [99]:
for c in 'spam':
    print(c.upper(), end = '')

SPAM

In [100]:
D = {c.lower(): c + '!' for c in ['SPAM', 'EGGS', 'BUTTER']}
D

{'spam': 'SPAM!', 'eggs': 'EGGS!', 'butter': 'BUTTER!'}

### List comprehensions: Creating lists using `for` loops:

A convenient and compact way to initialize lists:

In [101]:
import math

In [102]:
import numpy as np
import pandas as pd

In [103]:
l = []
for i in range(5):
    l.append(math.pow(i,2))
l

[0.0, 1.0, 4.0, 9.0, 16.0]

In [104]:
l = []
for i in range(5):
    l.append(np.power(i,2))
l

[0, 1, 4, 9, 16]

In [105]:
D= []
for x in range(0,5):
    D.append(x**2)
D

[0, 1, 4, 9, 16]

In [106]:
[i**3 for i in range(5)]

[0, 1, 8, 27, 64]

In [107]:
A = [[n*m for n in range(5)] for m in range(5)]
A

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16]]

In [108]:
A = [n*m for n in range(5) for m in range(5)]
A

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 0, 2, 4, 6, 8, 0, 3, 6, 9, 12, 0, 4, 8, 12, 16]

In [109]:
l1 = [x**2 for x in range(0,5)]
l1

[0, 1, 4, 9, 16]

In [110]:
"abc"*3

'abcabcabc'

In [111]:
[i*3 for i in "abc"]

['aaa', 'bbb', 'ccc']

In [112]:
["SPAM " * 4]

['SPAM SPAM SPAM SPAM ']

In [113]:
res = [c * 4 for c in ['ABC ']]
res

['ABC ABC ABC ABC ']

In [114]:
res1 = [t * 4 for c in ['ABCD'] for t in c]
res1

['AAAA', 'BBBB', 'CCCC', 'DDDD']

In [115]:
M= [[1,2,3],
   [4,5,6],
   [7,8,9]]

In [116]:
diag = [M[i][j] for i in [0,1,2] for j in [-1,-2,-3]][::4]
diag

[3, 5, 7]

In [117]:
diag = [M[i][j] for (i, j) in zip([0,1,2],[-1,-2,-3])]
diag

[3, 5, 7]

A generator expression is a concise way to create a generator in Python. It is similar to a list comprehension but produces values lazily, one at a time, as they are needed, rather than creating the entire list in memory at once.

In [36]:
def my_generator():
    yield 1
    yield 2
    yield 3

gen = my_generator()
print(next(gen))  # Output: 1
print(next(gen))  # Output: 2
print(next(gen))  # Output: 3

1
2
3

In [38]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
G = (sum(row) for row in M)
G

In [41]:
next(G)

24

In [44]:
list(G)

[6, 15, 24]

In [51]:
L = ["abe", "ABC", "abD"]

In [52]:
b1 = [x.lower() for x in L]
b1

['abe', 'abc', 'abd']

In [54]:
sorted(b1)[::-1]

['abe', 'abd', 'abc']

In [48]:
sorted([x.lower() for x in L], reverse = True)

['abe', 'abd', 'abc']

### `while` loops:

In [118]:
saygac = 0
saygac <= 5

True

In [120]:
saygac = 0

while saygac <= 5:
    
    print(saygac)
    
    #saygac = saygac + 1
    saygac+=1
    
print("done")

0
1
2
3
4
5
done

Note that the `print("done")` statement is not part of the `while` loop body because of the difference in indentation.

In [121]:
saygac = 19
while saygac<=19 and saygac >=0:
    print(saygac)
    saygac-=1

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [122]:
x = 4
while x>0:
    print("Spam!"*x)
    x-=1

Spam!Spam!Spam!Spam!
Spam!Spam!Spam!
Spam!Spam!
Spam!

In [2]:
a = True
while a:
    reply = input('Enter text:')
    if reply == 'stop': 
        break
    print(reply.upper())

Enter text: Stop

STOP

Enter text: stop

In [3]:
0!=None

True

In [4]:
i = 0
while i!=None and i<5:
    print(i)
    i+=1

0
1
2
3
4

In [5]:
i=6
while i!=3: #3!=3
    print(i)
    i-=1

6
5
4

In [6]:
i=6
while i==3: #3==3
    print(i)
    i-=1

In [7]:
l = 1
b = 5
d = []
while l<b:
    l+=1
    d.append(l)

In [8]:
d

[2, 3, 4, 5]

In [9]:
None is False

False

In [10]:
None is True

False

In [11]:
type(None)

NoneType

In [12]:
type(False)

bool

In [14]:
None == None

True