### List

In Python, a **list** is one of the most versatile and commonly used data structures. It allows you to store an ordered collection of items, which can be of mixed data types. Lists are dynamic, mutable, and provide a wide range of functionalities for data manipulation.

#### Key Characteristics of Python Lists

##### 1. Ordered:
- Elements in a list have a defined order.
- You can access elements by their position (index) in the list.
##### 2. Mutable:
- You can modify a list after its creation.
- Operations like adding, removing, or changing elements are allowed.
##### 3. Dynamic Size:
- Lists can grow or shrink in size as needed.
- No need to declare a fixed size beforehand.
##### 4. Heterogeneous:
- Lists can contain elements of different data types (e.g., integers, strings, objects).
##### 5. Allows Duplicates:
- The same value can appear multiple times in a list.

In [1]:
l = [1,2,3,4]

print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 4]

In [2]:
my_list = [2,3,3,4]
my_list

[2, 3, 3, 4]

In [3]:
my_list[0]

2

In [4]:
new_list = list((1,5))
new_list

[1, 5]

In [5]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
new_list = [1,2,3,4]

In [7]:
l = []
#l = list()
for i in range(1,10):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
l[4]

5

In [9]:
s = ["str", "abc", "def"]
s

['str', 'abc', 'def']

In [10]:
s[0] = 'i'
s

['i', 'abc', 'def']

In [11]:
i=5
s[i] = 2

IndexError: list assignment index out of range

In [12]:
len(s)

3

In [13]:
"Hello" * 4

'HelloHelloHelloHello'

In [14]:
["Hello"]*4

['Hello', 'Hello', 'Hello', 'Hello']

In [15]:
"str "+"str"

'str str'

In [19]:
ls = [1, 2, 3] + [3, 5, 6]
ls

[1, 2, 3, 3, 5, 6]

In [22]:
#saved at same memory
ls[2] is ls[3]

True

In [23]:
l1 =[89,67]
l2 = [1, 2, 3]
for i in l2:
    l1.append(i)
l1

[89, 67, 1, 2, 3]

In [24]:
l1= []
l1.append(5)
l1

[5]

In [25]:
l1 =[89,67]
l2 = [1, 2, 3]
for i in l2:
    a = i**2
    l1.append(a)
l1

[89, 67, 1, 4, 9]

In [26]:
l1 = [1,2,3]
l2 = [4,5,6]
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

In [27]:
l1 = [1,2,3]
l1.extend(4)
l1

TypeError: 'int' object is not iterable

In [28]:
l1 = [1,2,3]
l2 = [4,5,5]
l4 = [1,2]
l1.append(l2)
l1.append(l4)
l1

[1, 2, 3, [4, 5, 5], [1, 2]]

In [29]:
#saved at same memory
l1[0] is l1[4][0]

True

In [30]:
l = []
l1 = [[1,2,3],[4,5,5] ,[1,2]]
for i in l1:
    l.append(i)
l

[[1, 2, 3], [4, 5, 5], [1, 2]]

In [31]:
l[0][1]

2

In [32]:
l[0][1] = 5
l

[[1, 5, 3], [4, 5, 5], [1, 2]]

In [33]:
l[2][1] = 5
l

[[1, 5, 3], [4, 5, 5], [1, 5]]

In [34]:
[1,2]+list("str, " + " input")

[1, 2, 's', 't', 'r', ',', ' ', ' ', 'i', 'n', 'p', 'u', 't']

In [35]:
str([1, 2]) + "34"

'[1, 2]34'

In [36]:
v = list("abc")
v

['a', 'b', 'c']

In [37]:
b = [1, 2] + list("34")
b

[1, 2, '3', '4']

In [38]:
if "3" in b:
    print("deyer var")

deyer var

In [39]:
if 3 in b:
    print("deyer var")
else:
    print("deyer yoxdur")

deyer yoxdur

In [40]:
3 in b

False

In [41]:
4 in [1, 2, 5, 4]

True

In [43]:
my_list = [10, 20, 30, 10]

In [44]:
for b in my_list:
    print(b, end=',')

10,20,30,10,

In [45]:
for i in my_list:
    if i == 10:
        print("Yes")

Yes
Yes

In [46]:
l= list(range(1,10))

In [47]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
#start stop step
l[0:4:2]

[1, 3]

In [49]:
a = ["apple", "lemon"]
a[::-1][0]

'lemon'

In [50]:
a = ["apple", "lemon"]
a[::-1][0][::-1]

'nomel'

In [51]:
a = ["apple", "lemon"]
a[::-1][::-1]

['apple', 'lemon']

In [52]:
c =l[::-1]
c

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
c1 = [3,5,6,1,0]

In [54]:
c1.sort()
c1

[0, 1, 3, 5, 6]

In [55]:
c2 = [3,5,6,1,0]

In [56]:
%%timeit 
d = sorted(c2) #creates a new sorted list

79.2 ns ± 0.968 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

In [57]:
#The reason you're encountering the `NameError` is that the `%%timeit` magic command 
#doesn't actually assign variables after execution. It runs the code in a temporary scope multiple times 
#for performance measurement, and once it finishes, the variables created inside the `%%timeit` block are discarded.
d

NameError: name 'd' is not defined

In [60]:
%%time
d = sorted(c2) #creates a new sorted list
d

CPU times: user 10 µs, sys: 1 µs, total: 11 µs
Wall time: 13.4 µs

[0, 1, 3, 5, 6]

In [61]:
%timeit c1.sort() #sorts the list in-place (modifies the original list c).
c1

30.7 ns ± 0.987 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

[0, 1, 3, 5, 6]

In [62]:
print(l)

print(l[1:3])

print(l[::2])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3]
[1, 3, 5, 7, 9]

In [63]:
m = l + [7, 8, 6]
m

[1, 2, 3, 4, 5, 6, 7, 8, 9, 7, 8, 6]

In [64]:
# using set() to remove duplicated from list
m = list(set(m))
m

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
m1 = [5,8,9,6,5,1,3,6,9]
m1 = list(set(m1))
m1

[1, 3, 5, 6, 8, 9]

In [66]:
l = [1, 'a', 1.0, 1-1j, True]

print(l)

[1, 'a', 1.0, (1-1j), True]

In [58]:
nested_list = [1, [2, [3, [4, [5]]]]]

nested_list

[1, [2, [3, [4, [5]]]]]

In [67]:
start = 10
stop = 30
step = 2
my_list2= []
for i in range(start, stop, step):
    my_list2.append(i)
my_list2

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [68]:
count = 0
login = []
for j in range(2, 8, 1):
    count=count+j # count+=j
    login.append(count)
    print(login)

[2]
[2, 5]
[2, 5, 9]
[2, 5, 9, 14]
[2, 5, 9, 14, 20]
[2, 5, 9, 14, 20, 27]

In [69]:
login

[2, 5, 9, 14, 20, 27]

In [70]:
L = ['a','e','d','k','HX']

In [71]:
L.sort()
L

['HX', 'a', 'd', 'e', 'k']

In [72]:
L.sort(key=str.lower)
L

['a', 'd', 'e', 'HX', 'k']

In [73]:
L.sort(reverse=True)
L

['k', 'e', 'd', 'a', 'HX']

In [74]:
L1 = ['a', 'a', 'abcd',None,' ','abcd']

In [75]:
L1.count('abcd')

2

In [76]:
len(L1)

6

In [77]:
#The index() method searches for the first occurrence of the specified element
idx2 = L1.index('a')
idx2

0

In [78]:
idx = L1.index(2)
idx

ValueError: 2 is not in list

In [72]:
#help(L)

#### Adding, inserting, modifying, and removing elements from lists

In [79]:
# create a new empty list
l1 = []
# add an elements using `append`
l1.append((1,2))
l1.append([1,2,3])
l1.append('c')
l1.append(55)
# add an elements using `extend`
l2 = [4,5,6]
l1.extend(l2)
l1

[(1, 2), [1, 2, 3], 'c', 55, 4, 5, 6]

In [80]:
l1[2] = 4
l1

[(1, 2), [1, 2, 3], 4, 55, 4, 5, 6]

In [81]:
len(l1)

7

In [82]:
l1[8] = 3
l1

IndexError: list assignment index out of range

Insert an element at an specific index using insert

In [83]:
l1.insert(3, "b")
l1

[(1, 2), [1, 2, 3], 4, 'b', 55, 4, 5, 6]

In [84]:
l1.insert(120, "a") # add element to the end if the index is out of range
l1

[(1, 2), [1, 2, 3], 4, 'b', 55, 4, 5, 6, 'a']

In [85]:
l1.index('a')

8

remove() Method:

- Syntax: list.remove(value)
- Functionality:
    - Removes the first occurrence of the specified value from the list.
    - Modifies the original list by removing the element.
    - Does not return the removed element.
    - Raises a ValueError if the specified value is not found in the list.

In [86]:
l1.remove("b")
l1

[(1, 2), [1, 2, 3], 4, 55, 4, 5, 6, 'a']

In [87]:
m = ['a','a',5,7]

In [90]:
m.remove('a')
m

ValueError: list.remove(x): x not in list

pop() Method:

- Syntax: list.pop(index)
- Functionality:
    - Removes and returns the element at the specified index from the list.
    - Modifies the original list by removing the element.
    - If no index is provided, pop() removes and returns the last element of the list.
    - Raises a IndexError if the specified index is out of range.

In [91]:
l1.pop(-3)
l1

[(1, 2), [1, 2, 3], 4, 55, 4, 6, 'a']

In [92]:
b = l1.pop(-1)
print(b)
l1

a

[(1, 2), [1, 2, 3], 4, 55, 4, 6]

In [93]:
d = l1.pop()
print(d)
print(l1)

6
[(1, 2), [1, 2, 3], 4, 55, 4]

del Statement:

- Syntax: del list[index] or del list[start:end]
- Functionality: 
    - Removes the element at the specified index from the list.
    - Can also be used to delete a slice of elements from the list.
    - Does not return the removed element(s).
    - Modifies the original list by removing the element(s).

In [94]:
del l1[1]
l1

[(1, 2), 4, 55, 4]

In [96]:
del l1[0:3:2]
l1

[55]

We can modify lists by assigning new values to elements in the list. In technical jargon, lists are *mutable*.

In [97]:
l1.append((1,2))
l1.append([1,2,5])
l1.append('c')
l1.append(55)
l1

[55, (1, 2), [1, 2, 5], 'c', 55]

In [98]:
l1[3], l1[1] = 9 , 78
l1

[55, 78, [1, 2, 5], 9, 55]

In [99]:
l1[1:4] = 11, None, 13
l1

[55, 11, None, 13, 55]

In [100]:
#Add element to the next position, if number of elements greater than index of range 
l1[1:4] = 11, None , 13 , 14
l1

[55, 11, None, 13, 14, 55]

In [101]:
#Delete element, if we did not mention value for this index
l1[1:4] = 66,55
l1

[55, 66, 55, 14, 55]

In [102]:
l1[1], l1[2] = l1[2], l1[1]
l1

[55, 55, 66, 14, 55]

In [103]:
l1[0:2] = [1,2,3]
l1

[1, 2, 3, 66, 14, 55]

In [104]:
l1 = list(range(10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- **reverse**:
  - `reverse` is a method available for lists in Python.
  - It reverses the order of elements in the list in place (modifies the original list).
  - It does not return a new list but modifies the existing list.

In [105]:
l1.reverse()
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [97]:
#help([].reverse)

- **reversed**:
  - `reversed` is a built-in Python function.
  - It returns an iterator that yields the elements of a sequence (e.g., list, tuple, string) in reverse order.
  - It does not modify the original sequence; instead, it returns a new iterator object.

In [106]:
list(reversed(l1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
l1[::-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
l1.sort(reverse=True)

In [109]:
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [110]:
sorted(l1,reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [111]:
#list comprehension 
#[expression for item in iterable if condition]

M11 = [[n+m for n in range(5)] for m in range(5)] 
M11

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [112]:
#alternative
out_list = []
for n in range(5):
    int_list = []
    for m in range(5):
        int_list.append(n+m)
    out_list.append(int_list)
out_list

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8]]

In [113]:
M = [[1, 2, 3],         # A 3 × 4 matrix, as nested lists 
     [4, 5, 6],         # Code can span lines if bracketed
     [7, 8, 9],
     [6,7,9,10]]

In [117]:
M[1:4][0][0]

4

In [118]:
M[2][0] # Get row 2 and then get 0 value with 0 index

7

In [119]:
M[1] # Get row 2

[4, 5, 6]

In [120]:
M[1][2]

6

map(function, iterable)
- function: The function to apply to each element of the iterable. It can be a built-in function, a user-defined function, or a lambda function.
- iterable: The iterable (e.g., list, tuple, string) whose elements you want to process.

In [12]:
str(674)

'674'

In [13]:
map(str, 674)

TypeError: 'int' object is not iterable

In [14]:
map(str, 1234.5)

TypeError: 'float' object is not iterable

In [15]:
int("124")

124

In [17]:
map(int, "124")

In [16]:
list(map(int, "124"))

[1, 2, 4]

In [18]:
list(map(str, [1,2,3]))

['1', '2', '3']

In [19]:
# Understanding object references
a = 25
b = 30
c = a
d = [1, 2, 5]

# References in action
my_list = [a, b, c, d]
print(my_list)  

a = 50  
d.append(4) 

print(my_list)
print(a)

[25, 30, 25, [1, 2, 5]]
[25, 30, 25, [1, 2, 5, 4]]
50

In [20]:
ls1 = [1,2,4,6,7]
ls2 = ls1
ls2

[1, 2, 4, 6, 7]

In [21]:
ls2.append(5)
ls1

[1, 2, 4, 6, 7, 5]

In [22]:
count=0
login=[]
for i in range(12,1,-1):
    for j in range(12,i,-1):
        print(" ", end=" ")
    for k in range(2,i+1):
        print(k,end=" ")
    print()
    login.append(count)

2 3 4 5 6 7 8 9 10 11 12
  2 3 4 5 6 7 8 9 10 11
    2 3 4 5 6 7 8 9 10
      2 3 4 5 6 7 8 9
        2 3 4 5 6 7 8
          2 3 4 5 6 7
            2 3 4 5 6
              2 3 4 5
                2 3 4
                  2 3
                    2

In [23]:
count = 0
login = []
for j in range(2, 9,1):
    count=count+j
    login.append(count)
#print(login)

for i in range(0,len(login),1):
    print(f"{' '*4*i}{login[0:len(login)-i]}")

[2, 5, 9, 14, 20, 27, 35]
    [2, 5, 9, 14, 20, 27]
        [2, 5, 9, 14, 20]
            [2, 5, 9, 14]
                [2, 5, 9]
                    [2, 5]
                        [2]

In [24]:
count = 0
login = []
for j in range(2, 9,1):
    count=count+j
    login.append(count)
#print(login)

for i in range(1,len(login),1):
    print(f"{' '*4*(len(login)-i)}{login[0:i]}")

                        [2]
                    [2, 5]
                [2, 5, 9]
            [2, 5, 9, 14]
        [2, 5, 9, 14, 20]
    [2, 5, 9, 14, 20, 27]

### Tuple

Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

* Ordered collections of arbitrary objects
* Accessed by offset
* Of the category “immutable sequence”
* Fixed-length, heterogeneous, and arbitrarily nestable
* Arrays of object references

In [25]:
a = tuple(range(0,10))
type(a)

tuple

In [26]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
a[0:5:2]

(0, 2, 4)

In [28]:
a[0] = 30
a

TypeError: 'tuple' object does not support item assignment

In [29]:
t1 = (10,20, "a", 20.5, True, 5j)
t1

(10, 20, 'a', 20.5, True, 5j)

In [30]:
type(t1)

tuple

In [31]:
a  = (1,2,3)
a1 = list(a)
a1

[1, 2, 3]

In [33]:
b = tuple(a1)
b

(1, 2, 3)

In [34]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [35]:
tuple(1)

TypeError: 'int' object is not iterable

In [36]:
tuple((1,))

(1,)

In [37]:
b1 = (1,)
type(b1)

tuple

In [39]:
b1[0]

1

We can unpack a tuple by assigning it to a comma-separated list of variables:

In [44]:
ab1 = (1,2,3,4)
a1,a2, _, _ = ab1

print(a1,a2,_)

1 2 4

In [45]:
ab1 = (1,2,3)
a1,a2 = ab1

print(a1,a2)

ValueError: too many values to unpack (expected 2)

In [46]:
#nested tuple
ab = (1,(2,3))
a1, a2 = ab
a2

(2, 3)

In [47]:
a3, a4 = a2
a4

3

In [48]:
t = (10)
type(t)

int

In [49]:
t = (10,)
type(t)

tuple

In [50]:
my_tuplee = (1, 4.5, 'str',[1,2,3], (4,5,6))
my_tuplee

(1, 4.5, 'str', [1, 2, 3], (4, 5, 6))

In [36]:
my_tuplee.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [51]:
my_tuplee[1:3]

(4.5, 'str')

In [52]:
tuple(map(str, my_tuplee))

('1', '4.5', 'str', '[1, 2, 3]', '(4, 5, 6)')

In [53]:
my_tuplee

(1, 4.5, 'str', [1, 2, 3], (4, 5, 6))

In [54]:
my_tuplee[3]

[1, 2, 3]

In [55]:
my_tuplee[3].append(2)
my_tuplee

(1, 4.5, 'str', [1, 2, 3, 2], (4, 5, 6))

In [56]:
type(my_tuplee)

tuple

In [57]:
a,b, _,c,_= my_tuplee

In [58]:
c, _

([1, 2, 3, 2], (4, 5, 6))

In [59]:
point = 10, 20

print(point, type(point))

(10, 20) <class 'tuple'>

In [60]:
t = 10,20,30
print(type(t))
x,y,z = t
print(x, type(x))

<class 'tuple'>
10 <class 'int'>

If we try to assign a new value to an element in a tuple we get an error:

In [61]:
point[0] = 20

TypeError: 'tuple' object does not support item assignment

we can create a tuple by concatenation of 2 tuples or multiply a tuple by an integer

In [62]:
c1 = point * 5
c1

(10, 20, 10, 20, 10, 20, 10, 20, 10, 20)

In [63]:
c = point + (5, 6)
c

(10, 20, 5, 6)

In [64]:
c[3]

6

In [65]:
c.index(5)

2

In [66]:
c.index(7)

ValueError: tuple.index(x): x not in tuple

In [68]:
import random

In [70]:
my_tuplee1= tuple(random.sample(range(0,100), 20))
my_tuplee1

(33, 27, 75, 95, 13, 67, 68, 50, 61, 82, 17, 10, 91, 21, 32, 3, 0, 4, 31, 76)

In [72]:
idx = my_tuplee1.index(75)
idx

2

In [73]:
cdf1 = my_tuplee1[2]
cdf1

75

In [74]:
cdf = my_tuplee1[85]
cdf

IndexError: tuple index out of range

In [75]:
len(my_tuplee1)

20

In [76]:
i=21
if i <len(my_tuplee1):
    cdf = my_tuplee1[i]
else:
    print('Index in out of range')
    
#cdf

Index in out of range

In [77]:
i=21
cdf = my_tuplee1[i if i<len(my_tuplee1) else -1]
cdf

76

In [78]:
c

(10, 20, 5, 6)

In [79]:
c.count(10)

1

In [80]:
c.count(100)

0

In [81]:
T = ('spam', 3.0, [11, 22, 33])

In [82]:
T.insert(0,5)

AttributeError: 'tuple' object has no attribute 'insert'

In [83]:
T[2].insert(0,5)
T

('spam', 3.0, [5, 11, 22, 33])

In [84]:
T[2][1]

11

In [85]:
f = [(1,2,3), (4,5,6)]
f[1][1]

5

In [86]:
group1, group2 = T[0],T[1:3]
print(group1, group2)
print(type(group1),type(group2))

spam (3.0, [5, 11, 22, 33])
<class 'str'> <class 'tuple'>

In [87]:
random.choice(range(1,100))

20

In [91]:
my_tuple_names = ("Adil", "Raul", "Yelmar", "Malik", "Tofiq", "Aslan", "Ismayil", "Nazim")
random.choices(my_tuple_names,k=4)

['Nazim', 'Ismayil', 'Ismayil', 'Nazim']

In [92]:
my_tuple_names = ("Adil", "Eli", "Kamil", "Malik", "Tofiq", "Aslan", "Ismayil", "Abbas")
set(random.choices(my_tuple_names,k=4))

{'Eli', 'Kamil'}

### Dictionary

A **dictionary** in Python is an unordered collection of key-value pairs. It's a versatile data structure that allows you to store and retrieve data based on unique keys. Here's some detailed information about dictionaries:

- **Key-Value Pairs**: Each element in a dictionary consists of a key and its corresponding value. Keys are unique within a dictionary, and they are used to retrieve the associated values quickly.

- **Unordered**: Unlike sequences like lists or tuples, dictionaries do not maintain the order of elements. Therefore, you cannot access elements by index.

- **Mutable**: Dictionaries are mutable, meaning you can modify them after creation. You can add, remove, or update key-value pairs as needed.

- **Keys Must Be Immutable**: Keys in a dictionary must be immutable objects, such as strings, numbers, or tuples. This requirement ensures that keys remain constant and can be hashed efficiently.

- **Values Can Be Any Data Type**: The values associated with keys in a dictionary can be of any data type, including strings, numbers, lists, tuples, other dictionaries, or even functions.

- **Efficient Lookup**: Dictionaries use hash-based indexing to provide fast lookup times. When you access a value using its key, Python computes the hash value of the key to determine the appropriate location in memory where the value is stored.

- **Dynamic Size**: Dictionaries can grow or shrink dynamically as key-value pairs are added or removed. They automatically adjust their internal structure to accommodate changes in size.

- **Common Operations**: Common operations on dictionaries include adding key-value pairs with the `dict[key] = value` syntax, accessing values using keys (`dict[key]`), removing key-value pairs with the `del` keyword (`del dict[key]`), checking for the presence of a key using the `in` operator (`key in dict`), and iterating over keys, values, or items using loops or comprehensions.

Dictionaries are widely used in Python for tasks such as storing configurations, caching data, representing JSON-like structures, and more. They offer a flexible and efficient way to organize and manipulate data based on associative relationships between keys and values.

When two keys in a dictionary return the same hash value, a situation called a hash collision occurs. Most modern hash table implementations, like Python's dictionary, handle these collisions through a technique called chaining or open addressing.

In [73]:
d = {}

In [74]:
#hash('b')

In [75]:
d= {"key1":1,
    "key2":2,
    "key3":3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [76]:
a = list(d.keys())
a

['key1', 'key2', 'key3']

In [77]:
b = list(d.values())
b

[1, 2, 3]

In [78]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [79]:
type(d)

dict

In [80]:
d1 = {(1,2,3):[1,2,3],
      "key2":(2,3,4),
      "key3":"Adil"}
d1

{(1, 2, 3): [1, 2, 3], 'key2': (2, 3, 4), 'key3': 'Adil'}

In [81]:
d1.items()

dict_items([((1, 2, 3), [1, 2, 3]), ('key2', (2, 3, 4)), ('key3', 'Adil')])

In [82]:
d2 = {}
d2["a"] =1
d2

{'a': 1}

In [83]:
d2["a"] =2
d2

{'a': 2}

In [84]:
d2["b"] = [1,2,3]
d2

{'a': 2, 'b': [1, 2, 3]}

In [85]:
l = [1,2,3,3]
type(l)

list

In [86]:
l2 = (1,2,3,4,)
type(l2)

tuple

In [87]:
d3 = dict([("key1", 1), ("key2", l), ("key3", l2)])
d3

{'key1': 1, 'key2': [1, 2, 3, 3], 'key3': (1, 2, 3, 4)}

In [88]:
d3.values()

dict_values([1, [1, 2, 3, 3], (1, 2, 3, 4)])

In [89]:
type(d3)

dict

In [90]:
d4 = dict([(l, 1), ("key2", l), ("key3", l2)])
d4

TypeError: unhashable type: 'list'

In [91]:
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(type(params))
print(params)

<class 'dict'>
{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [92]:
params['ad']

KeyError: 'ad'

In [93]:
params['parameter1']

1.0

In [94]:
"str " + str(params['parameter1'])

'str 1.0'

In [95]:
d3

{'key1': 1, 'key2': [1, 2, 3, 3], 'key3': (1, 2, 3, 4)}

In [96]:
print("parameter1=" + str(d3['key1']))

parameter1=1

In [97]:
str(d3['key2'])

'[1, 2, 3, 3]'

In [98]:
list("param2") + d3['key2']

['p', 'a', 'r', 'a', 'm', '2', 1, 2, 3, 3]

In [99]:
print(list("param2") + d3['key2'])

['p', 'a', 'r', 'a', 'm', '2', 1, 2, 3, 3]

In [100]:
print("param2"+ str(d3['key2']))

param2[1, 2, 3, 3]

In [101]:
print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))

parameter1 = 1.0
parameter2 = 2.0
parameter3 = 3.0

In [102]:
params["parameter1"] = "A"
params["parameter2"] = "B"

# add a new entry
params["parameter4"] = "D"

print("parameter1 = " + str(params["parameter1"]))
print("parameter2 = " + str(params["parameter2"]))
print("parameter3 = " + str(params["parameter3"]))
print("parameter4 = " + str(params["parameter4"]))

parameter1 = A
parameter2 = B
parameter3 = 3.0
parameter4 = D

In [103]:
params['ad'] = "Yelmar"

In [104]:
params

{'parameter1': 'A',
 'parameter2': 'B',
 'parameter3': 3.0,
 'parameter4': 'D',
 'ad': 'Yelmar'}

In [105]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
       'job': ['dev', 'mgr'],
       'age': 40.5}

In [106]:
assert rec['age'] == 40.5

In [107]:
assert type(rec['age']) == int

AssertionError:

In [108]:
assert type(rec['age']) == float

In [109]:
rec

{'name': {'first': 'Bob', 'last': 'Smith'}, 'job': ['dev', 'mgr'], 'age': 40.5}

In [110]:
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [111]:
rec['name']['last'] = "Mammad"
rec

{'name': {'first': 'Bob', 'last': 'Mammad'},
 'job': ['dev', 'mgr'],
 'age': 40.5}

In [112]:
rec['name']['middle'] = "Adil"
rec

{'name': {'first': 'Bob', 'last': 'Mammad', 'middle': 'Adil'},
 'job': ['dev', 'mgr'],
 'age': 40.5}

In [113]:
rec['name']['last'] = ["Adil","Elnur","Mammad"]
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev', 'mgr'],
 'age': 40.5}

In [114]:
d11 = {"a":{"name":{"second_name":"Yelmar"}}}
d11

{'a': {'name': {'second_name': 'Yelmar'}}}

In [115]:
d11["a"].values()

dict_values([{'second_name': 'Yelmar'}])

In [116]:
d11["a"].keys()

dict_keys(['name'])

In [117]:
print(d11["a"])

{'name': {'second_name': 'Yelmar'}}

In [118]:
d11["a"]["name"].values()

dict_values(['Yelmar'])

In [119]:
d11['a']= "Safa"
d11

{'a': 'Safa'}

In [120]:
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev', 'mgr'],
 'age': 40.5}

In [121]:
rec['job'].insert(10, "Prof")
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev', 'mgr', 'Prof'],
 'age': 40.5}

In [122]:
rec['job'].insert(2, "Assistent")
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev', 'mgr', 'Assistent', 'Prof'],
 'age': 40.5}

In [123]:
rec['job'].append('janitor')
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev', 'mgr', 'Assistent', 'Prof', 'janitor'],
 'age': 40.5}

In [124]:
rec['job'].append(['janitor','salesperson'])
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson']],
 'age': 40.5}

In [125]:
rec["job"]

['dev', 'mgr', 'Assistent', 'Prof', 'janitor', ['janitor', 'salesperson']]

In [126]:
rec["joB"]

KeyError: 'joB'

In [127]:
rec.get("job")

['dev', 'mgr', 'Assistent', 'Prof', 'janitor', ['janitor', 'salesperson']]

In [128]:
rec.get("joB")

In [129]:
rec['job'].extend(["AI engineer"])
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer'],
 'age': 40.5}

In [130]:
rec['job'].extend(['janitor','salesperson'])
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'janitor',
  'salesperson'],
 'age': 40.5}

In [131]:
rec.keys()

dict_keys(['name', 'job', 'age'])

In [132]:
rec.values()

dict_values([{'first': 'Bob', 'last': ['Adil', 'Elnur', 'Mammad'], 'middle': 'Adil'}, ['dev', 'mgr', 'Assistent', 'Prof', 'janitor', ['janitor', 'salesperson'], 'AI engineer', 'janitor', 'salesperson'], 40.5])

In [133]:
rec.items()

dict_items([('name', {'first': 'Bob', 'last': ['Adil', 'Elnur', 'Mammad'], 'middle': 'Adil'}), ('job', ['dev', 'mgr', 'Assistent', 'Prof', 'janitor', ['janitor', 'salesperson'], 'AI engineer', 'janitor', 'salesperson']), ('age', 40.5)])

In [134]:
rec2 = {"city":["Baku", "London"]}

In [135]:
rec.update(rec2)
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil'},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'janitor',
  'salesperson'],
 'age': 40.5,
 'city': ['Baku', 'London']}

In [136]:
rec['name'].update({"ID":1})
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil',
  'ID': 1},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'janitor',
  'salesperson'],
 'age': 40.5,
 'city': ['Baku', 'London']}

In [137]:
rec['name'].update({"ID":2})
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil',
  'ID': 2},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'janitor',
  'salesperson'],
 'age': 40.5,
 'city': ['Baku', 'London']}

In [138]:
rec.pop("age")

40.5

In [139]:
rec.pop()

TypeError: pop expected at least 1 argument, got 0

In [140]:
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil',
  'ID': 2},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'janitor',
  'salesperson'],
 'city': ['Baku', 'London']}

In [141]:
rec["job"].pop(-2)

'janitor'

In [142]:
rec

{'name': {'first': 'Bob',
  'last': ['Adil', 'Elnur', 'Mammad'],
  'middle': 'Adil',
  'ID': 2},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'salesperson'],
 'city': ['Baku', 'London']}

In [143]:
rec["name"].pop("first")
rec

{'name': {'last': ['Adil', 'Elnur', 'Mammad'], 'middle': 'Adil', 'ID': 2},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'salesperson'],
 'city': ['Baku', 'London']}

In [144]:
len(rec.keys())

3

In [145]:
rec

{'name': {'last': ['Adil', 'Elnur', 'Mammad'], 'middle': 'Adil', 'ID': 2},
 'job': ['dev',
  'mgr',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'salesperson'],
 'city': ['Baku', 'London']}

In [146]:
rec['job'].remove("mgr")
rec

{'name': {'last': ['Adil', 'Elnur', 'Mammad'], 'middle': 'Adil', 'ID': 2},
 'job': ['dev',
  'Assistent',
  'Prof',
  'janitor',
  ['janitor', 'salesperson'],
  'AI engineer',
  'salesperson'],
 'city': ['Baku', 'London']}

In [148]:
del rec["job"]
del rec["name"]["last"]
rec

KeyError: 'job'

In [149]:
list(rec.keys())

['name', 'city']

In [150]:
rec2.keys()

dict_keys(['city'])

In [151]:
#intersection
a =rec2.keys() & rec.keys()
a

{'city'}

In [152]:
#union
rec2.keys() | rec.keys()

{'city', 'name'}

In [153]:
rec2.keys() + rec.keys()

TypeError: unsupported operand type(s) for +: 'dict_keys' and 'dict_keys'

In [154]:
rec

{'name': {'middle': 'Adil', 'ID': 2}, 'city': ['Baku', 'London']}

In [155]:
"name" in rec

True

In [156]:
"job" in rec.keys()

False

In [157]:
{'middle': 'Adil', 'ID': 2} in rec.values()

True

In [158]:
rec.get("name")

{'middle': 'Adil', 'ID': 2}

* Sequence operations don’t work.
* Assigning to new indexes adds entries:
    - Keys can be created when you write a dictionary literal (in which case they are embedded in the literal itself), or when you assign values to new keys of an existing dictionary object. The end result is the same.

In [159]:
Matrix = {}
Matrix[(2, 3, 4)] = 88
Matrix[(7, 8, 9)] = 99

In [160]:
Matrix

{(2, 3, 4): 88, (7, 8, 9): 99}

In [161]:
Matrix["b"] = {"a":1, "b":2}

In [162]:
Matrix

{(2, 3, 4): 88, (7, 8, 9): 99, 'b': {'a': 1, 'b': 2}}

In [163]:
Matrix[(2,3,4)]

88

In [164]:
dict(zip(['a', 'b', 'c'], [1, 2, 3]))

{'a': 1, 'b': 2, 'c': 3}

In [165]:
#dict(zip(['a', 'b', 'c','d'], [1, 2, 3]))

In [166]:
dict.fromkeys(['name', 'age', "new"], (0,2))

{'name': (0, 2), 'age': (0, 2), 'new': (0, 2)}

In [167]:
dict(name=['mel', 'aqil'], age=[45, 35])

{'name': ['mel', 'aqil'], 'age': [45, 35]}

In [168]:
dict([('name', ['mel', 'Aqil']), ('age', 45)])

{'name': ['mel', 'Aqil'], 'age': 45}

In [169]:
D = dict(a=1, b=2, c=3)
D

{'a': 1, 'b': 2, 'c': 3}

In [170]:
error = True
D = dict(a=error, b=2, c=3)
D

{'a': True, 'b': 2, 'c': 3}

##### Dictionary Comprehension

The basic syntax for dictionary comprehension in Python is:
    
{key_expression: value_expression for item in iterable}

In [171]:
names = ['Aslan', 'Ali', 'Vagif']
name_lengths = {name: len(name) for name in names}
print(name_lengths)

{'Aslan': 5, 'Ali': 3, 'Vagif': 5}

In [172]:
k = ('a', 'b','c', 'd')
v = [1,2,3,4]

In [173]:
d = {key:value for (key, value) in zip(k,v)}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [174]:
reqemler = [1, 2, 15, 20, 4]
cut_reqemler_kvadrata_yukseltme = {req: req**2 for req in reqemler if req % 2 == 0}
print(cut_reqemler_kvadrata_yukseltme)

{2: 4, 20: 400, 4: 16}

### Set

A **set** in Python is an unordered collection of unique elements. It is defined by enclosing a comma-separated list of elements within curly braces `{}`. Sets are mutable, which means you can add or remove elements from them. However, the elements themselves must be immutable (e.g., integers, strings, tuples) because sets use hash-based indexing to ensure uniqueness and fast lookup.

Sets have several useful properties and operations, including:

- **Uniqueness**: Sets cannot contain duplicate elements. If you attempt to add a duplicate element to a set, it will be ignored.
- **Unorderedness**: Unlike sequences like lists or tuples, sets do not maintain the order of elements. Therefore, you cannot access elements by index.
- **Membership testing**: Sets provide efficient membership testing using the `in` operator. You can quickly check whether an element exists in a set.
- **Mathematical operations**: Sets support various set operations like union, intersection, difference, and symmetric difference, making them useful for tasks involving set theory.

In [175]:
set1 = {"a", 50, 'd', 'c',2, 5, 7,"50"}
set1

{2, 5, '50', 50, 7, 'a', 'c', 'd'}

In [176]:
# print(hash("a"),hash(1),hash("c"))

# print(hash("a")/3)
# print(hash(1)/3)
# print(hash("c")/3)

In [177]:
print(set1)

{2, 5, 'a', 7, 'c', '50', 50, 'd'}

In [178]:
set_t = {"a", (1,["a,a"],2), 'c', 'c'}
set_t

TypeError: unhashable type: 'list'

In [179]:
s1 = {"a", 'd', 'c',"50"}
sorted_set1 = sorted(s1)
print(sorted_set1)

['50', 'a', 'c', 'd']

In [180]:
type(set1)

set

In [181]:
set2 = {(1,2,3,4), "df",5,4.5,1,2,4}
set2

{(1, 2, 3, 4), 1, 2, 4, 4.5, 5, 'df'}

`In Python, sets are unordered collections, meaning the order of elements is not guaranteed to be in any specific sequence. The appearance of elements in a set depends on internal hash calculations and memory management, not on the order in which you add elements.`

In [182]:
set2.add((10,5))
set2

{(1, 2, 3, 4), (10, 5), 1, 2, 4, 4.5, 5, 'df'}

In [183]:
set2.add((2,3))
set2

{(1, 2, 3, 4), (10, 5), (2, 3), 1, 2, 4, 4.5, 5, 'df'}

In [184]:
set2.add("(2,3)")
set2

{(1, 2, 3, 4), (10, 5), (2, 3), '(2,3)', 1, 2, 4, 4.5, 5, 'df'}

In [185]:
set2.add("dg")
set2

{(1, 2, 3, 4), (10, 5), (2, 3), '(2,3)', 1, 2, 4, 4.5, 5, 'df', 'dg'}

In [186]:
set2.remove((2,3))
set2

{(1, 2, 3, 4), (10, 5), '(2,3)', 1, 2, 4, 4.5, 5, 'df', 'dg'}

In [187]:
set1

{2, 5, '50', 50, 7, 'a', 'c', 'd'}

In [188]:
set1.intersection(set2) #kesishme/intersection

{2, 5}

In [189]:
set1 & set2 #kesishme/intersection

{2, 5}

In [190]:
set1.union(set2) # union/birleshme

{(1, 2, 3, 4),
 (10, 5),
 '(2,3)',
 1,
 2,
 4,
 4.5,
 5,
 '50',
 50,
 7,
 'a',
 'c',
 'd',
 'df',
 'dg'}

In [191]:
b = set1 | set2 # union/birleshme
print(b)

{1, 2, (10, 5), 4, 5, 'a', 7, 4.5, 'c', '50', (1, 2, 3, 4), 50, 'd', 'dg', 'df', '(2,3)'}

In [192]:
print(set1)
print(set2)

{2, 5, 'a', 7, 'c', '50', 50, 'd'}
{1, 2, (10, 5), 4, 5, 4.5, (1, 2, 3, 4), 'df', 'dg', '(2,3)'}

In [193]:
diff_set1_and_set2 = set1.difference(set2)
print("Difference of set1 and set2:", diff_set1_and_set2)

Difference of set1 and set2: {'a', 7, 'c', '50', 50, 'd'}

In [194]:
diff_set2_and_set1 = set2.difference(set1)
print("Difference of set2 and set1:", diff_set2_and_set1)

Difference of set2 and set1: {1, (10, 5), 4, 4.5, (1, 2, 3, 4), 'dg', 'df', '(2,3)'}

In [195]:
symm_diff_set1_and_set2 = set1.symmetric_difference(set2)
print("Symmetric difference of set1 and set2:", symm_diff_set1_and_set2)

Symmetric difference of set1 and set2: {1, (10, 5), 4, 4.5, 'a', 7, 'c', (1, 2, 3, 4), '50', 50, 'd', 'dg', 'df', '(2,3)'}

In [35]:
set1 = {1, 2, 3, 'a','SA',(1,3)}
set2 = {1, 2}
set3 = {1, 2, 'a'}
print(set2.issubset(set1))
print(set1.issuperset(set2))

print(set3.issubset(set1))
print(set1.issuperset(set3))

print(set1.isdisjoint(set2))

True
True
True
True
False

**Set comprehensions** in Python provide a concise and efficient way to create sets using an iterable and an optional condition. They follow a syntax similar to list comprehensions but produce sets instead of lists.
 - {expression for item in iterable if condition}

In [196]:
# Create a set of squares of even numbers from 1 to 10
squares_of_evens = {x**2 for x in range(1, 11) if x % 2 == 0}

print(squares_of_evens)

{64, 100, 4, 36, 16}

In [197]:
squares_of_evens = set()
for x in range(1,11):
    if x % 2 == 0:
        squares_of_evens.add(x**2)
print(squares_of_evens)

{64, 100, 4, 36, 16}

In [198]:
64 in squares_of_evens

True

In [199]:
for e in squares_of_evens:
    print(e)

64
100
4
36
16

In [200]:
my_tuple_names = ("Adil", "Yelmar", "Kamil", "Malik", "Raul", "Aslan", "Ismayil", "Abbas")

In [201]:
import random
a = random.choices(my_tuple_names,k=4)
a

['Malik', 'Kamil', 'Ismayil', 'Abbas']

In [202]:
set(a)

{'Abbas', 'Ismayil', 'Kamil', 'Malik'}

In [203]:
def grouper(my_tuple_n):
    my_set = set()
    for i in range(len(my_tuple_n)):
        my_set.add(random.choices(my_tuple_n,k=4))
    return my_set
my_group_names = grouper(my_tuple_names)
my_group_names

TypeError: unhashable type: 'list'

In [1]:
cumle = "Salam, mən Data Scientistəm"
saitler = "aeiouəıöüAEIOUƏIÖÜ"

result = [("Saitdir" if h in saitler else "Samitdir") for h in cumle if h.isalpha()]
for i in range(len(cumle) - 4):
    print(cumle[i], result[i])

S Samitdir
a Saitdir
l Samitdir
a Saitdir
m Samitdir
, Samitdir
  Saitdir
m Samitdir
ə Samitdir
n Saitdir
  Samitdir
D Saitdir
a Samitdir
t Samitdir
a Saitdir
  Saitdir
S Samitdir
c Samitdir
i Saitdir
e Samitdir
n Samitdir
t Saitdir
i Samitdir

In [2]:
mixed = ('alma', 3, 5.4, 'banan', 7)
tt = tuple(x for x in mixed if type(x) in (int, float))
print(tt)

(3, 5.4, 7)