In [42]:
# 1. Verilmiş listdəki bütün ədədlərin kvadratlarını yeni list şəklində çıxar.(list comprehension)
# numbers = [1, 2, 3, 4, 5]
# Nəticə: [1, 4, 9, 16, 25]

In [43]:
numbers = [1, 2, 3, 4, 5]
Result = list(i * i for i in numbers)
print(Result)

[1, 4, 9, 16, 25]

In [44]:
# 2. Listdəki təkrarlanan elementləri sil və unikal elementlər siyahısı yarat.
# data = [1, 2, 2, 3, 4, 4, 5]
# Nəticə: [1, 2, 3, 4, 5]

In [45]:
data = [1, 2, 2, 3, 4, 4, 5]
result = []
for i in data:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 4, 5]

In [46]:
# 3. Verilmiş 2 listi birləşdir və artan sıra ilə sırala.
# a = [5, 1, 3]
# b = [4, 2, 6]
# Nəticə: [1, 2, 3, 4, 5, 6]

In [47]:
a = [5, 1, 3]
b = [4, 2, 6]
c = a + b
c.sort()
print(c)

[1, 2, 3, 4, 5, 6]

In [48]:
# 4. Tuple daxilindəki ən böyük və ən kiçik elementi tap.
# nums = (3, 1, 5, 7, 2)
# Output: Max=7, Min=1

In [49]:
nums = (3, 1, 5, 7, 2)
MAX = nums[0]
MIN = nums[0]
for i in nums:
    if i < MIN:
        MIN = i
    elif i > MAX:
        MAX = i
print("Biggest value is", MAX)
print("Smallest value is", MIN)

Biggest value is 7
Smallest value is 1

In [50]:
# 5. Tuple-da təkrarlanan elementləri say.
# t = (5, 1, 5, 3, 5, 7)
# Nəticə: 3

In [62]:
t = (5, 1, 5, 3, 5, 7)
COUNT = [t[0]]
for i in t:
    if i in COUNT:
        COUNT.append(i)

COUNT.pop(-1)
print(len(COUNT))

3

In [66]:
from collections import Counter

t = (5, 1, 5, 3, 5, 7)
counter = Counter(t)
most_common = counter.most_common(1)[0]
print("Most common is:", most_common[0])
print("Number of most common number:", most_common[1])

Most common is: 5
Number of most common number: 3

In [52]:
# 6. Tuple-dəki ədədlərin cəmini hesabla.
# nums = (2, 4, 6, 8)
# Nəticə: 20

In [53]:
nums = (2, 4, 6, 8)
COUNT = 0
for i in nums:
    COUNT += i
print(COUNT)

20

In [54]:
# 7. Aşağıdakı list of tuple verilmişdir. Hər bir tuple-dan yalnız adları list şəklində çıxar.
# data = [("Lamia", 23), ("Aysel", 21), ("Murad", 25)]
# Nəticə: ["Lamia", "Aysel", "Murad"]

In [55]:
data = [("Lamia", 23), ("Aysel", 21), ("Murad", 25)]
NAME = []
for i in data:
    NAME.append(i[0])
print(NAME)

['Lamia', 'Aysel', 'Murad']

In [56]:
# 8. Task 3.2: Tuple-ların daxilindəki ədədlərin ortalamasını çıxar.
# marks = [(80, 90), (75, 85), (90, 95)]
# Nəticə: [85.0, 80.0, 92.5]

In [57]:
marks = [(80, 90), (75, 85), (90, 95)]
SR = []
for i in marks:
    SR.append((i[0] + i [1])/2)
print(SR)

[85.0, 80.0, 92.5]

In [58]:
# 9. Aşağıdakı tuple içindəki list-lərə yeni bir element əlavə et.
# data = (["apple", "banana"], ["carrot", "potato"])
# "grape" və "tomato" əlavə et
# Nəticə: (["apple", "banana", "grape"], ["carrot", "potato", "tomato"])

In [59]:
data = (["apple", "banana"], ["carrot", "potato"])
data[0].append("grape")
data[1].append("tomato")
print(data)

(['apple', 'banana', 'grape'], ['carrot', 'potato', 'tomato'])

In [60]:
# 10. Hər tələbənin imtahan nəticələri verilmişdir (ad, [qiymətlər]). Hər tələbə üçün orta balı hesabla.
# students = [("Lamia", [90, 95, 88]), ("Murad", [70, 80, 75])]
# Nəticə: {"Lamia": 91.0, "Murad": 75.0}

In [61]:
students = [("Lamia", [90, 95, 88]), ("Murad", [70, 80, 75])]
result = []
for i in students:
    for x in i:
        if i[0] != x:
            a = (x[0] + x[1] + x[2])/3
            print(i[0], ":", a)

Lamia : 91.0
Murad : 75.0