In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import math

In [2]:
# 1. Boş bir list yaradın sonra isə 3,4,5 ədədlərini listə append edin.
# Sonra isə listin 1-ci indexini çap edin.

In [19]:
LIST = []
for i in range (3, 6):
    LIST.append(i)
print(LIST)

[3, 4, 5]

In [20]:
# 2. [0,1,2] listi ilə əldə etdiyimiz listi birləşdirib çap edin.

In [22]:
LIST2 = [0, 1, 2]
LIST2.extend(LIST)
print(LIST2)

[0, 1, 2, 3, 4, 5]

In [7]:
# 3. 'Azərbaycan' stringini listə çevirib, alınan listi tərs çevirib, çap edin.

In [30]:
STR = 'Azaerbaijan'
STR_LIST = list(STR)
STR_LIST.reverse()
print(STR_LIST)

['n', 'a', 'j', 'i', 'a', 'b', 'r', 'e', 'a', 'z', 'A']

In [31]:
# 4. [3,2,1,4] listin özünü dəyişmədən listi sort edib yeni dəyişənə mənimsədin.

In [46]:
A = [3, 2, 1, 4]
sorted(A)

[1, 2, 3, 4]

In [16]:
# 5. ['baku','vancouver','copenhagen'] listini yaradın.
# Sonra isə 'Vancouver' elementinin indexini tapın

In [34]:
LIST = ['baku', 'vancouver', 'copenhagen']
LIST.index('vancouver')

1

In [1]:
# 6. Sonra bu listə 'sydney' stringini ikinci element kimi daxil edin

In [36]:
LIST.insert(1) = 'sydney'
print(LIST)

['baku', 'sydney', 'copenhagen']

In [ ]:
# 7. Sonra bu listdən 'baku' elemntini silin
# sonra isə popdan istifadə edərək sonuncu elementi silin
# və həmin elementi çap edin.

In [37]:
LIST.pop(0)
print(LIST)

['sydney', 'copenhagen']

In [ ]:
# 8. append() metodundan istifadə edərək ayrılıqda list_4-ü list_3-ə əlavə edin.
# Yeni siyahını çap edin.
# list_3 = ["alma", "armud"]
# list_4 = ["portağal", "üzüm"]

In [38]:
list_3 = ["alma", "armud"]
list_4 = ["portağal", "üzüm"]
list_3.append(list_4)
print(list_3)

['alma', 'armud', ['portağal', 'üzüm']]