In [39]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [40]:
data = {
    "Name ": ["John", "Jane", "Alice", "Bob", None],
    "Age (Years)": [25, 30, np.nan, 35, 29],
    "Income ($)": [40000, 50000, 60000, 7000000, 55000],
    "Join Date": ["2023-01-10", "2023-02-15", "2023-03-20", "2023-13-25", "NaN"],
    "Gender": ["Male", "Female", "Female", "Male", "Female"],
    "Gender": ["Male", "Female", "Female", "Male", "Female"], 
    "SparseColumn": [None, None, None, None, None],
    "Category": ["A", "B", "C", "A", "B"],
}
df = pd.DataFrame(data)
df

   Name   Age (Years)  Income ($)   Join Date  Gender SparseColumn Category
0   John         25.0       40000  2023-01-10    Male         None        A
1   Jane         30.0       50000  2023-02-15  Female         None        B
2  Alice          NaN       60000  2023-03-20  Female         None        C
3    Bob         35.0     7000000  2023-13-25    Male         None        A
4   None         29.0       55000         NaN  Female         None        B

In [25]:
# 1. Sütun adlarından boşluqları, xüsusi simvolları silin və uyğun bir formata çevirin.

In [27]:
# 2. DataFrame-in məlumatlarını və sütunların hər birinin type-ını çap edin.

In [29]:
# 3. Zaman datasının formatını dəyişin və age sütunundakı NaN dəyərləri sütunun medianı ilə doldurun.

In [31]:
# 4. Sparse olan sütunları müəyyənləşdirin və onların adlarını çap edin.

In [33]:
# 5. DataFrame-dən null dəyərləri silin.

In [35]:
# 6. DataFrame-dən yalnız float64 data type olan sütunların xülasəsini çap edin.