In [67]:
# 1. NumPy istifadə edərək təsadüfi 100 tam ədəddən ibarət massiv yaradın.
# Bu massivdə yalnız unikal elementləri seçərək Pandas DataFrame-ə yerləşdirin və sütunu "Unique_Numbers" adlandırın.

In [68]:
import numpy as np
import pandas as pd
arr = np.random.randint(0, 1000, size=100)
unique_arr = np.unique(arr)
df = pd.DataFrame(unique_arr, columns=['Unique_Numbers'])
print(df)

    Unique_Numbers
0                6
1               14
2               22
3               28
4               31
..             ...
90             931
91             944
92             962
93             980
94             985

[95 rows x 1 columns]

In [69]:
# 2. NumPy istifadə edərək 10x10 ölçülü təsadüfi tam ədədlərdən ibarət matris yaradın.
# Pandas DataFrame-ə çevirərək hər bir sütunun maksimum dəyərini tapın və yeni bir DataFrame-də saxlayın.

In [70]:
matrix = np.random.randint(0, 100, size = (10, 10))
df = pd.DataFrame(matrix)
max_values = df.max()
df_max = pd.DataFrame(max_values)
print(df_max)

    0
0  93
1  88
2  97
3  93
4  95
5  90
6  98
7  97
8  92
9  97

In [71]:
# 3. Pandas DataFrame yaradaraq 5 fərqli məhsulun adlarını, qiymətlərini və satılan miqdarlarını saxlayın.
# Hər bir məhsulun ümumi gəlirini (qiymət × miqdar) hesablamaq üçün yeni bir sütun əlavə edin.

In [72]:
data = {'Product': ['Potato', 'Carrot', 'Egg', 'Milk', 'Candy'], 'Price': [5, 6, 0.3, 3, 2], 'Count': [100, 50, 10, 2, 20]}
df = pd.DataFrame(data)
df['Total'] = df['Price'] * df['Count']
print(df)

  Product  Price  Count  Total
0  Potato    5.0    100  500.0
1  Carrot    6.0     50  300.0
2     Egg    0.3     10    3.0
3    Milk    3.0      2    6.0
4   Candy    2.0     20   40.0

In [73]:
# 4. NumPy istifadə edərək təsadüfi 50 tam ədədlərdən ibarət massiv yaradın.
# Bu massivdə ədədlərin 5-dən böyük və 50-dən kiçik olanlarını seçərək Pandas DataFrame-də saxlayın.

In [74]:
array = np.random.randint(0, 100, size = 50)
l = [i for i in array if (i > 5) & (i < 50)]
df = pd.DataFrame(l)
print(df)

     0
0   22
1   21
2   11
3   45
4   44
5   40
6    6
7   22
8   24
9   28
10  36
11  44
12  23
13  16
14  22
15  14
16  19
17  42
18   7
19  21
20  36
21  23

In [75]:
# 5. Pandas istifadə edərək bir DataFrame yaradın. DataFrame 4 tələbənin adı, Numpy və Pandas mövzularından aldığı balları
# saxlasın. Hər bir tələbənin ümumi balını və orta balını hesablayaraq yeni sütunlar əlavə edin.

In [76]:
data = {'Name': ['Fakhri', 'Elcan', 'Ruslan', 'Vuqar'], 'Numpy_Grade': [90, 90, 90, 90], 'Pandas_Grade': [90, 90, 90, 90]}
df = pd.DataFrame(data)
df['Total score'] = df['Numpy_Grade'] + df['Pandas_Grade']
df['Avg Score'] = (df['Numpy_Grade'] + df['Pandas_Grade'])/ 2
print(df)

     Name  Numpy_Grade  Pandas_Grade  Total score  Avg Score
0  Fakhri           90            90          180       90.0
1   Elcan           90            90          180       90.0
2  Ruslan           90            90          180       90.0
3   Vuqar           90            90          180       90.0

In [77]:
# 6. NumPy istifadə edərək təsadüfi 20 tam ədədlərdən ibarət massiv yaradın.
# Pandas DataFrame-də hər bir ədədin kvadratını və kvadrat kökünü saxlayan sütunlar əlavə edin.

In [78]:
array = np.random.randint(0, 50, size = 20)
df = pd.DataFrame()
df['Numbers'] = array
df['Square'] = df['Numbers'] ** 2
df['Root'] = np.sqrt(df['Numbers'])
print(df)

    Numbers  Square      Root
0        26     676  5.099020
1        34    1156  5.830952
2        23     529  4.795832
3        37    1369  6.082763
4        36    1296  6.000000
5        21     441  4.582576
6        19     361  4.358899
7        35    1225  5.916080
8        48    2304  6.928203
9         6      36  2.449490
10       43    1849  6.557439
11       12     144  3.464102
12       20     400  4.472136
13       15     225  3.872983
14       12     144  3.464102
15        4      16  2.000000
16        5      25  2.236068
17       13     169  3.605551
18       39    1521  6.244998
19       25     625  5.000000

In [79]:
# 7. Pandas DataFrame yaradın, hər birində 7 günə aid olan temperatur dəyərləri olan iki sütun (şəhər) saxlasın.
# Hər günün ortalama temperaturunu taparaq yeni bir sütun əlavə edin.

In [80]:
data = {'Days': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
       'Baku': [30, 32, 31, 33, 30, 34, 35],
       'Ganja': [26, 29, 30, 26, 29, 30, 31]}
df = pd.DataFrame(data)
df['Avg'] = (df['Baku'] + df['Ganja'])/ 2
print(df)

        Days  Baku  Ganja   Avg
0     Monday    30     26  28.0
1    Tuesday    32     29  30.5
2  Wednesday    31     30  30.5
3   Thursday    33     26  29.5
4     Friday    30     29  29.5
5   Saturday    34     30  32.0
6     Sunday    35     31  33.0

In [81]:
# 8. NumPy ilə təsadüfi 6x6 ölçülü tam ədədlərdən ibarət matris yaradın.
# Pandas istifadə edərək DataFrame-ə çevirin və hər bir sətirin toplamını saxlayan yeni bir sütun əlavə edin.

In [82]:
matrix = np.random.randint(0, 10, size = (6, 6))
df = pd.DataFrame(matrix)
df['Total'] = df.sum()
print(df)

   0  1  2  3  4  5  Total
0  5  5  2  2  0  0     23
1  6  4  2  4  9  1     27
2  4  8  9  1  6  4     22
3  3  8  3  1  1  3     13
4  3  2  1  3  0  7     24
5  2  0  5  2  8  3     18

In [83]:
# 9.Pandas istifadə edərək 5 nəfərin adlarını və yaşlarını saxlayan DataFrame yaradın.
# DataFrame-də 25 yaşdan kiçik olan şəxsləri seçərək yeni DataFrame yaradın.

In [84]:
data = {'Name': ['Fakhri', 'Elcan', 'Ruslan', 'Vuqar', 'Oguz'], 'Age': [19, 25, 39, 24, 15]}
df = pd.DataFrame(data)
df_25 = df[df['Age'] < 25]
print(df_25)

     Name  Age
0  Fakhri   19
3   Vuqar   24
4    Oguz   15

In [85]:
# 10. Pandas istifadə edərək təsadüfi 10 elementdən ibarət sütun yaradın. Sütunda hər bir elementin minimum və maksimum
# dəyərləri arasındakı fərqi tapın.

In [86]:
array = np.random.randint(0, 50, size = 10)
df = pd.DataFrame(array)
min_value = df.min()
max_value = df.max()
diff = max_value - min_value
print(df)
print('----------')
print(diff)

    0
0  30
1   4
2  28
3  29
4  45
5  48
6  48
7  26
8  24
9  18
----------
0    44
dtype: int32

In [87]:
# 11. NumPy istifadə edərək təsadüfi 5x5 ölçülü matris yaradın. Pandas istifadə edərək hər bir sütunun ortalamasını hesablayın
# və nəticəni yeni DataFrame-də saxlayın.

In [88]:
matrix = np.random.randint(0, 10, size = (5, 5))
df = pd.DataFrame(matrix)
avg = df.mean()
df_avg = pd.DataFrame(avg, columns = ['Avg'])
print(df_avg)

   Avg
0  5.8
1  4.8
2  4.4
3  4.6
4  3.8

In [89]:
# 12. Pandas DataFrame yaradaraq məhsulun adını və satış tarixini saxlayın. Satış tarixləri arasındakı fərqi tapın
# və gün olaraq yeni sütunda göstərin.

In [90]:
data = {'Name': ['Apple', 'Milk', 'Egg'], 'Date': ['2025-08-01', '2025-08-02', '2025-08-03']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df['Diff'] = df['Date'].diff().dt.days
print(df)

    Name       Date  Diff
0  Apple 2025-08-01   NaN
1   Milk 2025-08-02   1.0
2    Egg 2025-08-03   1.0

In [91]:
# 13. NumPy istifadə edərək 1-dən 100-ə qədər ardıcıl ədədlərdən ibarət massiv yaradın.
# Pandas ilə hər bir ədədin cüt və ya tək olduğunu göstərən yeni sütun əlavə edin.

In [92]:
arr = np.arange(1, 101)
df = pd.DataFrame()
df['Number'] = arr
df['Type'] = 'Odd'        
df.loc[df['Number'] % 2 == 0, 'Type'] = 'Even'  
print(df)

    Number  Type
0        1   Odd
1        2  Even
2        3   Odd
3        4  Even
4        5   Odd
..     ...   ...
95      96  Even
96      97   Odd
97      98  Even
98      99   Odd
99     100  Even

[100 rows x 2 columns]

In [93]:
# 14. Pandas DataFrame yaradaraq 5 fərqli məhsulun adı və qiymətini saxlayın.
# Qiyməti 50-dən çox olan məhsulları seçərək yeni DataFrame yaradın.

In [94]:
data = {'Product': ['Egg', 'Milk', 'Apple', 'Banana', 'Orange'], 'Price': [90, 3, 50, 200, 6]}
df = pd.DataFrame(data)
p = df[df['Price'] > 50]
df_50 = pd.DataFrame(p)
print(df_50)

  Product  Price
0     Egg     90
3  Banana    200

In [95]:
# 15. NumPy istifadə edərək təsadüfi 20 elementdən ibarət massiv yaradın. Pandas istifadə edərək
# massivdə təkrarlanan elementləri tapın və onların sayını göstərin.

In [96]:
array = np.random.randint(0, 10, size = 20)
df = pd.DataFrame(array)
vc = df.value_counts()
print(vc)

0
6    5
9    4
8    3
3    2
5    2
0    1
1    1
2    1
7    1
Name: count, dtype: int64