In [2]:
# 1. NumPy-dən istifadə edərək istədiyiniz ölçüdə bir massiv (array) yaradın. 
# Daha sonra bu massivdən Pandas DataFrame düzəldin. DataFrame-in sütun adlarını isə özünüz təyin edin (məsələn: ['A', 'B', 'C']).

In [3]:
import numpy as np
import pandas as pd
array = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
array3 = np.array([7, 8, 9])
df = pd.DataFrame({'A': array, 'B': array2, 'C': array3})
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
# 2.4×4 ölçülü təsadüfi tam ədədlərdən ibarət matris yaradın. 
# Əsas diaqonal elementlərinin hasilini tapın.
# Ən böyük elementi və onun indeksini göstərin.

In [12]:
matrix = np.random.randint(1, 10, size = (4, 4), dtype = int)
diag = np.diag(matrix)
print(diag)
k = 1
for i in diag:
    k *= i
print(k)

[4 8 9 4]
1152

In [ ]:
# 3. Maaşı 3000-dən çox olan işçiləri seçin.
# Ən yüksək maaşa sahib işçiləri sortlama ilə göstərin (maaşa görə azalan sırada).

# data = {
#     "Ad": [“Ramin”, “Lale”, “Samir”, “Sevda”, “Arzu”], 
#     "Maaş": [2500, 4000, 3200, 2800, 4000], 
#     "Şöbə": [“IT”, “HR”, “IT”, “Finance”, “HR”]  
# }

In [19]:
data = {
    "Ad": ['Ramin', 'Lale', 'Samir', 'Sevda', 'Arzu'],
    "Maaş": [2500, 4000, 3200, 2800, 4000],
    "Şöbə": ['IT', 'HR', 'IT', 'Finance', 'HR']
}
df = pd.DataFrame(data)
print(df[df['Maaş'] > 3000])

      Ad  Maaş Şöbə
1   Lale  4000   HR
2  Samir  3200   IT
4   Arzu  4000   HR

In [ ]:
# 4. Pandas DataFrame yaradaraq 5 fərqli məhsulun adlarını, qiymətlərini və satılan miqdarlarını saxlayın.
# Hər bir məhsulun ümumi gəlirini (qiymət × miqdar) hesablamaq üçün yeni bir sütun əlavə edin.

# data = {
#    "Mehsul": ["A", "B", "C", "D", "E"],
#    "Qiymet": [20, 50, 15, 40, 30],
#   "Miqdar": [100, 200, 150, 50, 120]
# }

In [21]:
data = {
   "Mehsul": ["A", "B", "C", "D", "E"],
   "Qiymet": [20, 50, 15, 40, 30],
  "Miqdar": [100, 200, 150, 50, 120]
}
df = pd.DataFrame(data)
df['Total'] = df['Qiymet'] * df['Miqdar']
print(df)

  Mehsul  Qiymet  Miqdar  Total
0      A      20     100   2000
1      B      50     200  10000
2      C      15     150   2250
3      D      40      50   2000
4      E      30     120   3600

In [22]:
# 5. DataFrame-də sətir indexini tələbənin adları ilə təyin edin.
# Fənn sütununa görə hər fəndə neçə tələbə olduğunu tapın və nəticəni index istifadə edərək çıxarın.
# Ad: ["Aysel", "Murad", "Nigar", "Kamal", "Rauf", "Leyla"]  
# Yaş: [20, 22, 21, 23, 22, 21]  
# Bal: [85, 90, 78, 92, 90, 88]  
# Fənn: ["Riyaziyyat", "İngilis", "Riyaziyyat", "Fizika", "İngilis", "Fizika"]

In [57]:
data = {'Ad': ["Aysel", "Murad", "Nigar", "Kamal", "Rauf", "Leyla"], 'Yas': [20, 22, 21, 23, 22, 21], 'Bal': [85, 90, 78, 92, 90, 88], 'Fann': ["Riyaziyyat", "İngilis", "Riyaziyyat", "Fizika", "İngilis", "Fizika"]}
df = pd.DataFrame(data)
tot = df['Fann'].value_counts()
df['Total'] = df['Fann'].map(tot)
df.index = df['Total']
print(df)

          Ad  Yas  Bal        Fann  Total
Total
2      Aysel   20   85  Riyaziyyat      2
2      Murad   22   90     İngilis      2
2      Nigar   21   78  Riyaziyyat      2
2      Kamal   23   92      Fizika      2
2       Rauf   22   90     İngilis      2
2      Leyla   21   88      Fizika      2