In [1]:
# 1. map funksiyasından istifadə edərək bu listdəki elemntlərin ilk hərfini
# böyük hərfə çevirin
#l5=['sydney', 'vancouver', 'copenhagen']

In [8]:
L5=['sydney', 'vancouver', 'copenhagen']
L5_UPPER= list(map(lambda W: W.capitalize(), L5))
print(L5_UPPER)

['Sydney', 'Vancouver', 'Copenhagen']

In [3]:
# 2. Əldə etdiyimiz listi tuple-ə çevirib, çap edin.

In [9]:
T = tuple(L5_UPPER)
print(T)

('Sydney', 'Vancouver', 'Copenhagen')

In [5]:
# 3. Tuple-ın içində 'Sydney' elementinin indexini tapın.

In [10]:
T.index("Sydney")

0

In [7]:
# 4. Tuple-ın içindəki 'Vancouver' elementinin sayını tapın.

In [12]:
T.count("Vancouver")

1

In [9]:
# 5. grades = (92, 75, 100, 62, 60) adlı bir tuple yaradın.
# Tuple-da minimum və maksimum dəyərləri tapın və hər ikisini çap edin.

In [17]:
grades = (92, 75, 100, 62, 60)
MIN = grades[0]
MAX = grades[0]
for i in grades:
    if i < MIN:
        MIN = i
    elif i > MAX:
        MAX = i
print("Biggest value is", MAX)
print("Smallest value is", MIN)

Biggest value is 100
Smallest value is 60

In [11]:
# 6. İndi isə bu tuple-da 1-ci indeksdən 3-cü indeksə qədər olan elementləri seçin,
# yeni bir tuple yaradın və nəticəni çap edin.

In [20]:
x = tuple(grades[1:4:1])
print(x)

(75, 100, 62)

In [13]:
# 7. boy_ceki = (175, 65) adlı bir tuple yaradın. Sonra isə bu tuple-ı açaraq ayrı-ayrılıqda
# boy və ceki dəyişənlərinə təyin edərək çap edin.

In [21]:
boy_ceki = (175, 65)
boy = boy_ceki[0]
ceki = boy_ceki[-1]
print(boy, ceki)

175 65

In [15]:
# 8. t12 = (1,3,5,7,9,11,13) tuple-ını yaradın və bu tuple-dakı 5,7 və 9 elementlərini silin.

In [23]:
t12 = (1,3,5,7,9,11,13)
T12 = list(t12)
del T12[2:5:1]
t13 = tuple(T12)
print(t13)

(1, 3, 11, 13)

In [35]:
# 9. String formatlaşdırması ilə tuple-u çap edin.
# my_tuple = ("Aytən", 28, "Data Scientist")

In [ ]:
my_tuple = ("Aytən", 28, "Data Scientist")
print("Ad: %s, Yaş: %d, Peşə: %s" % (my_tuple[0], my_tuple[1], my_tuple[2]))

In [24]:
# 10.Tuple-ın içindəki ədədlərin kvadratlarını yeni tuple kimi yaradin.
# nums = (2, 3, 4)

In [26]:
nums = (2, 3, 4)
kv = tuple(map(lambda x: x * x, nums))
print(kv)

(4, 9, 16)

In [21]:
# 11. Sadəcə rəqəmlər olan tuple-ları süzgəcdən keçirdin:
# mixed = ('alma', 3, 5.4, 'banan', 7)
# Yalnız rəqəmləri saxla: (3, 5.4, 7)

In [30]:
mixed = ('alma', 3, 5.4, 'banan', 7)
tt = tuple(x for x in mixed if type(x) in (int, float))
print(tt)

(3, 5.4, 7)

In [31]:
# 12. Tuple içində ədədlərin ortalamasını hesablayin:
# nums = (10, 20, 30, 40)

In [32]:
nums = (10, 20, 30, 40)
COUNT = 0
for i in nums:
    COUNT += i
print(COUNT/ len(nums))

25.0

In [ ]:
# 13. Tuple içindəki string-ləri baş hərfi böyük olacaq şəkildə yazin.
# words = ('salam', 'lamia', 'necesen')

In [33]:
words = ('salam', 'lamia', 'necesen')
words_upper = list(map(lambda W: W.capitalize(), words))
print(words_upper)

['Salam', 'Lamia', 'Necesen']